[2021-01-14 12:09] trbck opened #1 "Quotecast.Request() not working"
Hi!

With request = Quotecast.Request() I get AttributeError: Request

Any suggestions?

[2021-01-14 12:11] #1 closed

[2021-01-14 12:52] trbck opened #2 "Getting quotecast data"
Hi

[code]

Do you know what ",E" stands for and how would a subscription look like for a realtime stock Bayer Xetra market item (realtime data purchased within the account)?

Many thanks!

[2021-01-14 19:29] Chavithra commented on #2
Hello trbck,

I have split my answer in two parts :
1. Do I know what the ",E" part in "AAPL.BATS,E" stand for ?
2. How to get Bayer's realtime data on the market Xetra ?

**1. Do I know what the ",E" part in "AAPL.BATS,E" stands for ?**

No, I don't.

I just understand that :
- "AAPL.BATS,E" is the "vwd_id" of this stock
- "AAPL" is the symbol of the stock.
- "BATS,E" is the part regarding the ma

[2021-01-15 09:06] trbck commented on #2
many thanks!

[2021-01-15 09:06] #2 closed

[2021-01-25 13:43] paveldomsa opened #3 "various requests return http 403/404"
Hi,
I can successfully log in and get config table via trading_api.get_config(). Returned data seems to be ok.
Since that nothing works as expected. For example:
favourites_list = trading_api.get_favourites_list()
 results in:
DEBUG:urllib3.connectionpool:https://trader.degiro.nl:443 "GET /pa/secure/favourites/lists?intAccount=1536831&sessionId=384815D9922F04E8EB92614449202A7B.prod_b_113_2 HTTP/1.

[2021-01-25 15:41] Chavithra commented on #3
Hello there,

I have split my answer into five parts :
1. Credentials in your message
2. Good news
3. Bad news
4. One way I have reproduced this issue
5. Question

**1. Credentials in your message.**

There is a "intAccount" in your message.

If this is your personal "intAccount", it would be better to remove it from the message and then remove the history of modification.

**2. Good news**
The me

[2021-01-25 19:21] paveldomsa commented on #3
Thanks for quick response.
Here is how i get it:
config_table = trading_api.get_config()
user_token = config_table['clientId']

[2021-01-25 19:50] Chavithra commented on #3
Ok, I understand now.

**Issue**
The "user_token" was used instead of the "int_account".

These two identifiers are not the same thing :
- user_token
- int_account

**Solution**
One way to get the "int_account" is to use the method : "get_client_details".

More information about how to get the "int_account" is available in the documentation of this library.

Hope that helps

[2021-01-26 00:11] SomethingWithComputers commented on #3
Hey there, I might be having a similar issue. I am using the int_account (intAccount from get_client_details) as a user_token in this example: (https://github.com/dasbrod/degiro-connector/blob/master/examples/quotecast/realtime_data.py) and I'm getting a 502. Is there a different user_token I can find somewhere? It said the user_token is inside the config, but I couldn't really find anything simil

[2021-01-26 03:10] paveldomsa commented on #3
it helped. thanks.

[2021-01-26 03:10] #3 closed

[2021-01-26 08:51] paveldomsa opened #4 "get stocks details"
Hi,
is there a way how to get stock details (same as i could get via RequestLookup or RequestStocks) when i have just stocks id (for example (AMD id is 5462588).

Basically i have portfolio, i get it via
request_list = Update.RequestList()
request_list.values.extend(
    [
        Update.Request(
            option=Update.Option.PORTFOLIO,
            last_updated=0,
        ),
    ]
)
print (requ

[2021-01-26 16:50] Chavithra commented on #4
Hi,

1. Use case
2. Does the website do it ?
3. Reverse engineering
4. New method
5. Feedback

**1. Use case**
That's an interesting use case.

I too need to link these two elements :
* vwd_id
* product_id

I am using matching tables to do so.

**2. Does the website do it ?**

I took a look at the website it seems to manage to link these elements :
* product_id
* product name

**3. Reverse enginee

[2021-01-26 18:27] paveldomsa commented on #4
it does work for me too.
nice and quick job.
thanks

[2021-01-26 18:27] #4 closed

[2021-02-11 21:12] enekochan opened #5 "Don't send indexId on ProductSearch.RequestStocks if not provided"
The `stocks` endpoint in `product_search` has an `indexId` parameter that is optional. If I call the `ProductSearch.RequestStocks` function without it:

[code]

A default value of `0` is asigned to it in the request:

`/product_search/secure/v5/stocks?stockCountryId=846&limit=10&requireTotal=True&sortColumns=name&sortTypes=asc&isInUSGreenList=False&indexId=0&searchText=&offset=0&intAccount=xxx&ses

[2021-02-11 21:56] Chavithra commented on #5
Hello there,

thanks for reporting this bug.

I have updated the library.

Can you tell me if that works on your side too ?

[2021-02-11 22:11] enekochan commented on #5
Yes, it works fine now :) Thanks!

[2021-02-11 22:11] #5 closed

[2021-02-25 16:56] iv-vz opened #6 "Querying "News" section request"
Hi guys, beautiful work!! thank you very much for making it open.

Would it be actually possible to access the news api? or is there any limitation?

Best regards,
Ivan

[2021-02-25 17:50] Chavithra commented on #6
Hi,

I have an answer and a question for you.

**ANSWER**
I have planned to add news endpoints.

But for the following reason it is not yet available :
- I don't need this feature for myself currently.
- I didn't know that someone was interested in it.

**QUESTION**
These are all the news related endpoints that I have found last time that I have checked :
- latest-news : latest news about all the

[2021-02-28 22:18] #6 closed

[2021-02-28 22:21] Chavithra commented on #6
Closed this issue feel free to open a new one if needed.

[2021-03-02 19:50] fbondeaux opened #7 "Realtime poller detection?"
Hey guys, I am wondering what the probability of detection is when you use realtime_poller in a loop? There are cases that DG detects certain automatic operations and gives warnings. Does anyone know if there is protection in the code of the package; random seconds api calls or something like that? Furthermore, love this package guys!

[2021-03-02 22:15] fbondeaux opened #8 "Options search not working optimally"
When looking for options of Shell (GB00B03MLX29) with exchange Id 1, it returns nothing but the metrics (seconds/nanos).
This is the link: https://trader.degiro.nl/trader/#/products/81642/options?exchange=1&strikeType=-1&underlying=GB00B03MLX29&optionType=-1&month=-1&year=-1&sortColumns=expirationDate%2Cstrike&sortTypes=asc%2Casc

[code]

[2021-03-03 10:37] Chavithra commented on #8
Hi,

**Issue**
I can indeed reproduce this issue.

When I send this `RequestOptions` :

[code]

I have the following response :
- status code : 400
- body : {'errors': [{'text': 'No corresponding model found'}]}

**Fix**
I saw that sorting was done on the following fields for `Options` :
- expirationDate
- strike

I have figured that out comparing the `RequestOptions` and the `URL` you have provid

[2021-03-03 11:20] Chavithra commented on #7
Hi,

**Polling**
I don't know about detection.

But polling `Quotecast` in loop seems to be how this endpoint is meant to be used.

Since this is exactly how Degiro's website is doing it : it polls `Quotecast` in loop.

What I wouldn't recommend doing :
- Reopening a session a each call.
- Subscribing to too much data in the same session.

I have seen that some library like @pladaria's one reopeni

[2021-03-03 12:14] fbondeaux commented on #8
@Chavithra Thanks; I will check in a few hours!

[2021-03-03 20:54] fbondeaux commented on #8
Result after the request:
DEBUG:urllib3.connectionpool:https://trader.degiro.nl:443 "GET /product_search/secure/v5/options?optionExchangeId=1&underlyingIsin=GB00B03MLX29&limit=100&requireTotal=True&sortColumns=expirationDate%2Cstrike&sortTypes=asc%2Casc&intAccount=0&sessionId=6FAEA8C3D2A26CE38DB38EBE4F.prod_a_113_2 HTTP/1.1" 404 None

https://trader.degiro.nl/trader/#/products?productType=8&exchan

[2021-03-03 22:10] Chavithra commented on #8
I can see you have put :
[code]

That might be the source of your error 404.

[2021-03-04 09:14] fbondeaux commented on #7
Can you have a look at the routine of options data stream in real time? It seems that or the dataprovider blocks data or that it only returns value if something changes in the bid ask

[2021-03-05 09:41] fbondeaux commented on #7
Another thing as well: it seems that option prices are being rounded to two decimals. Can this be changed to 3 or 4?

[2021-03-05 16:23] Chavithra commented on #7
These seem to be questions for another issue.

I am closing this issue.

Feel free to open another issue if you want to discuss about these points.

[2021-03-05 16:23] #7 closed

[2021-03-05 16:24] Chavithra commented on #8
I am closing this ticket since there are no more valid bugs reported.

[2021-03-05 16:24] #8 closed

[2021-03-13 19:58] codecnotsupported opened #9 "Chart data API is a bit cryptic on how it works."
The README does contain a example how to get chart data.
But doesn't mention what types of series data there are.
Or for that matter what the number `360148977` means. ( Probably the product ID )
Or how to decode the integer timestamps. (
I took a guess how it works. Take the 'times' timestamp convert it to a integer and use it as a offset.
[code]

[2021-03-14 21:39] Chavithra commented on #9
Hello there,

I have split my answer in three parts :
1. Type of series
2. Issue id
3. How to get data points timestamp ?

**1. Type of series**

Are you talking about the request to the API or the result ?

If you were talking about the request, you can find those in the examples :
- issueid
- price
- ohlc
- volume

These are all the series types that I have found.

If you find more let me know.

[2021-03-14 23:13] codecnotsupported commented on #9
1. Okay, I misunderstood and thought there were more series types.
2. Yes, I found out not too long ago before I saw your answer, little note for anyone else reading: vwd_id is named 'vwdIdSecondary' in favorites (`trading_api.get_favourites_list()`).
3. Seems to work OK.

Closing the issue, you might want to add the functionality to convert from integer timestamp to datetime object.

[2021-03-14 23:13] #9 closed

[2021-03-29 07:45] Tobiaqs opened #10 "CheckingResponse proto does not match API response"
![Screenshot from 2021-03-29 09-39-58](https://user-images.githubusercontent.com/2378369/112802701-c6264380-9072-11eb-872e-7dfbddcd8d86.png)
This is what the `checkOrder` endpoint returns for me. If I try to create an order I get the error that transactionAutoFxSurcharges is not part of the CheckingResponse proto. I fixed this for myself by matching the proto to the API response.
I have a custody

[2021-03-29 15:23] Chavithra commented on #10
Hi,

thanks for reporting that bug.

I was able to reproduce this issue.

The format of the `CheckingResponse` returned by `Degiro's API` seems to depend on the product.

I have updated the library in order to :
- make the `CheckingResponse`  less restrictive
- parse both formats properly

By the way there is a `raw` parameter in most of the methods in order to get the raw API response:
[code]

[2021-03-29 15:28] Tobiaqs commented on #10
Awesome, thanks.

[2021-03-29 15:29] #10 closed

[2021-04-15 23:21] b-aeby opened #11 "Impossible to check a STOP_LOSS order"
Hello,

I can't check a stoploss order, an internal server error is returned:

[code]

[code]

The same datas as a json send to the check order url yields no error and allows to confirm the order.
[code]

I have a custody account... BUY orders are OK

Could you please provide a working example for each order type ?

Congratulations for the awesome job you've done so far.
Regards
Benjamin

[2021-04-16 14:07] Chavithra commented on #11
Hello there,

**Issue**
I was able to reproduce this issue.

The library sends the price for all `OrderType` inside the field : `price`.

But for a `STOP_LOSS`, the API expects the price to be inside the field : `stopPrice`.

**State**
This issue was fixed and a new release was published.

**Feedback**
Can you tell me if that works on your side ?

Thanks for reporting this bug.

[2021-04-16 18:56] b-aeby commented on #11
Hi,

Great and fast response!
I just checked and everything works fine now including confirmation of the order.

Thanks

[2021-04-17 21:16] #11 closed

[2021-04-28 11:08] fbondeaux commented on #8
@Chavithra Sorry for my late response. It does work indeed now thank you!

I have another Q: is there a shortcut with converting the output of:
`option_list = trading_api.product_search(request=request, raw=False)`
or
`product = option_list.products[0]
`
directly into dict or list? The output is now pb extension and it takes a lot of operation to have something meaningful.

Thanks and nice job!

[2021-04-28 11:46] fbondeaux commented on #8
I'll leave this package here:
https://github.com/kaporzhu/protobuf-to-dict

[2021-04-28 18:04] Chavithra commented on #8
Hello,

here are two solution to convert `message` to `dict`.

**Solution 1**
To get the result as a `dict` you can use the parameter `raw`, like this :
[code]

**Solution 2**
You can also use the helper method called `message_to_dict`, here is an example:
[code]

[2021-04-28 18:43] fbondeaux commented on #8
Sweet man; much appreciated

[2021-05-10 07:17] blastik opened #12 "binascii.Error: Incorrect padding in b32decode"
Hello,

I have 2FA enabled so I used [your example](https://github.com/Chavithra/degiro-connector/blob/master/examples/trading/connection_2fa.py) to connect to degiro. However I get the following error using python 3.6.13:

[code]

[2021-05-10 07:23] #12 closed

[2021-05-10 07:24] blastik commented on #12
didnt say anything... was putting a 2FA code instead of the TOTP

[2021-06-15 15:24] blastik opened #13 "KeyError: 'total_portfolio'"
hello,

i'm just trying this code to get an overview of my portfolio

[code]
but looks like `update_dict` does not contain `total_portfolio`

[code]

any hints?

[2021-06-15 15:36] Chavithra commented on #13
Hello,

if you need  `TOTALPORTFOLIO` you need to add it in the request like this :

[code]

[2021-06-16 07:00] blastik commented on #13
same result. `KeyError: 'total_portfolio'`

[2021-06-16 08:44] Chavithra commented on #13
Can I see your code ?

[2021-06-16 08:46] blastik commented on #13
@Chavithra exactly the same but with what you proposed

[code]

[2021-06-16 09:23] Chavithra commented on #13
Ok I think I have found a second blocking point :
- `int_account` need to be set

You can fetch it using this code :
[code]

More information about `int_account` are available in the `README`.

[2021-06-18 08:14] Chavithra commented on #13
Closing this issue since there is no more feedback.

Feel free to open a new issue if you still have questions.

[2021-06-18 08:14] #13 closed

[2021-06-21 12:33] matheusft opened #14 "Is there any way to download the Account statement as a .csv file?"

[2021-06-22 07:12] Chavithra commented on #14
Hello Matheus,

is it possible to indicate the location in Degiro’s website of the `csv` you are looking for ?

Thanks

[2021-06-22 08:17] matheusft commented on #14
@Chavithra
Login > Activity > Account statement > Export
![blur](https://user-images.githubusercontent.com/2219910/122889298-94074380-d33a-11eb-9a66-f69df856fe0d.png)

[2021-06-22 10:12] Chavithra commented on #14
This table content can be fetched using the method `get_account_overview`.

More information about `get_account_overview` method is available in the README.

Can add a method to fetch directly the `csv` if you are interested by this feature.

[2021-06-22 10:14] matheusft commented on #14
fetching the csv file file directly would be very interesting

[2021-06-22 10:35] Chavithra commented on #14
Ok will take a look at that when I will have some time.

Will update this `issue` once the feature is added.

The endpoint called by `get_account_overview` method, does not provide the `ISIN`.

It only provides what you can see in the `Account statement` table in the website and the `productId`.

[2021-06-22 10:38] matheusft commented on #14
Humm, I see. Thank you.
This is what the csv file provides.
![blur](https://user-images.githubusercontent.com/2219910/122909531-32040980-d34d-11eb-8aca-52e0cd5ed38d.png)
It has some extra data on top of the `get_account_overview` method.

[2021-06-22 10:52] Chavithra commented on #14
Ok I see  `get_account_overview ` provide `productId` instead of this columns from the `csv` :
- `Product`
- `ISIN`

The rest of the fields seems to be there.

[2021-06-22 13:41] Chavithra commented on #14
I have published a new version of this library.

The following method was added :
- `get_cash_account_report`

This method is documented.

This should let you export in `CSV` among other formats.

[2021-06-23 16:26] Chavithra commented on #14
Closing this issue.

Feel free to open a new one if you have others questions.

[2021-06-23 16:26] #14 closed

[2021-07-09 12:54] drkthng opened #15 "update_order not working"
Hi Chavithra,
great work you did here with this api!

I have one problem though. the update_order seems not to work.

I am trying to update an existing stop-limit order (I got the orderId of this order previously)
python code:
[code]

When I capture the http request I see that the body of the request looks like this:
[code]

For some reason buySell and price get set to 0 -> couldn't figure out why

[2021-07-09 20:48] Chavithra commented on #15
Hello there,

thanks for reporting this bug.

Was able to reproduce it and to identify the source.

Will prepare a new release this weekend if I have enough time.

Have a nice weekend

[2021-07-10 10:10] Chavithra commented on #15
I have just published a fix.

I am interesting on your feedback.

Thanks

[2021-07-11 14:51] drkthng commented on #15
Hey Chavithra,
the new version works like a charm! Just transferred an update via the api successfully!

[2021-07-11 14:51] #15 closed

[2021-07-19 04:53] digaph opened #16 "Quotecast.get_chart resolutions missing"
First off thank you very much for this very well made package.

When trying to fetch chart data using quotecast for longer periods like P1M or P3M etc I would like the resolution to be 1 day.
Looking at degiro itself it seems like a resolution code of P1D, P7D and P1M is being used in the requests, for instance:
[code]
Looking at the pb2 enum it seems like we only have intraday resolutions and we'

[2021-07-19 23:02] Chavithra commented on #16
Hello there,

I will split my answer into three points :
1. What is your question ?
2. Override
3. Related issue

**3. What is your question ?**
You want to add the following options to `Chart.Resolution` enum ?
- P1D
- P7D
- P1M

`Chart.Resolution` can be changed here :
- protos/degiro_connector/quotecast/pb/quotecast.proto

Feel free to make a Pull Request, if you have tested these options.

I c

[2021-07-20 15:40] digaph commented on #16
@Chavithra thank you for your answer.
I wasn't aware of the ability to override the resolution and period of the get_chart call, which is a workaround I can live with.

As for the pull request to add the `P1D`, `P7D` & `P1M` resolutions to the protobuf I ran into a conflict as P1D is already used for the Period enum and apparently it's not possible to use the same enum value twice in one proto fil

[2021-07-20 16:32] Chavithra commented on #16
What you are trying to do is perfectly allowed by `Protocol Buffer`.

If you are interested in the full process after updating the `quotecast.proto` file you need to run a command like this :

[code]

Nice evening

[2021-07-20 20:40] digaph commented on #16
When I run that command I get the following messages:

[code]

The error is explaining what I mentioned above. As both the Resolution Enum and the Period Enum are children of the Chart scope, the values within the Enum need to be unique within Chart and not just within each Enum. This limitation means that I don't know how to get both to support the same values as changing the value will not work

[2021-07-21 13:27] Chavithra commented on #16
You are right, I didn't knew that :
- `enum` inside the same `message` couldn't have the same option names.

Merged `Period` and `Resolution` in a single `Interval` enum.

The modification was published and a migration script comes with it.

[2021-07-22 04:34] digaph commented on #16
@Chavithra thank you very much. I tested it and it works like a charm.

Cheers, Michel

[2021-07-22 04:34] #16 closed

[2021-07-26 19:02] keinagae opened #17 "Is there a way to use JsessionId for authentication instead of username password or one time password"

[2021-07-27 10:49] Chavithra commented on #17
Hi there,

Questions :
1. How do you get this `JsessionId` ?
2. Are you talking about the `session_id` that one can get login with his/her `username` and `password` ?

[2021-07-28 10:39] keinagae commented on #17
I am getting it from browser local storage and i dont want to ask users for username and password

[2021-07-28 11:22] Chavithra commented on #17
Out of curiosity : what are you trying to build ?

[2021-07-29 04:12] keinagae commented on #17
Actually I am trying to build chrome extension and that is why i dont want users to enter their login credentials twice

[2021-07-29 10:25] Chavithra commented on #17
In this file there is an example of how to access the `session_id` attribute :
- `examples/trading/connection.py`

Here is how to change it :
[code]

Didn't know you could build `Chrome` extension with `Python`.
How do you build such extension ?
Is it by converting `Python` to `Javascript` ?

[2021-07-30 06:52] keinagae commented on #17
my take on it is to use vuejs for frontend and backend is in python django but yah we can convert python to js

[2021-07-31 04:26] Chavithra commented on #17
I think the question was answered.
Closing the issue.

[2021-07-31 04:26] #17 closed

[2021-08-11 16:34] keinagae opened #18 "Products info not working for ids"
I am trying to get products info for that i am getting {'errors': [{'text': 'No corresponding resource found'}]} even though ids are actually valid

[2021-08-11 21:49] Chavithra commented on #18
Hello there,

which products ids are you using ?

Thanks

[2021-08-12 07:42] keinagae commented on #18
Id that i am using is 15313242

[2021-08-13 07:47] Chavithra commented on #18
Will check that this weekend.

[2021-08-14 08:40] Chavithra commented on #18
**On my side**
I can use the method `get_products_info` to fetch data about the product : `15313242`.

**Question**
Is it possible to show me the code that generates the message : `No corresponding resource found` ?

Thanks

[2021-08-16 08:04] keinagae commented on #18
`productsRequest=ProductsInfo.Request()`
`productsRequest.products.extend([15313242])`
 `productsInfo=settings.DEGIRO_API.api.get_products_info(request=productsRequest,raw=True)`

[2021-08-16 11:58] Chavithra commented on #18
**No issue**

When I do something like that, it works.

**Issue**
So I figured out the issue might come from the connection part.

I have established a connection without providing the `int_account` then tried to use the method `get_products_info`.

Now I have this error `404` : `{'errors': [{'text': 'No corresponding resource found'}]}`

**Credentials**
You can get the `int_account` after being l

[2021-08-19 14:32] Chavithra commented on #18
Closing this issue.

[2021-08-19 14:32] #18 closed

[2021-08-31 22:22] gtvCH opened #19 "get exchange of stock"
Thanks for this great API-module.
Is it possible to find out on which exchange a stock is listed? Because when I have a stock (id, name or symbol via product search) I would like to know if the stock is available on the NYSE or the NASDAQ Stock Exchange.
Thank you for an answer :)

[2021-09-01 05:45] digaph commented on #19
Hi @gtvCH,

You can use the TradingAPI.get_products_config method to fetch a list of countries, exchanges, indices, etc.
After that you should be able to match the exchange_id from the product info to an exchange you fetched using `get_products_config`.
Documentation can be found: [https://github.com/Chavithra/degiro-connector#71-how-to-get-the-table--productsconfig-]()

Hope that helps.

[2021-09-01 09:14] gtvCH commented on #19
Thank you very much, this is the solution, it works :)

[2021-09-01 09:15] #19 closed

[2021-09-04 19:22] matth82 opened #20 "quotecast parser possible issue?"
Is this type comparison right (I cannot test since I never had the a_rel being returned), list[str,str] (=vwd_id, metric) vs. str?
[code]

[2021-09-04 22:18] mmngreco opened #21 "awesome work! :muscle:"
I want to let you know how much I love this project, thank you for your amazing work in here. Probably the most useful degiro wrapper in python ever! Also, the work you have done in the examples is very neat.

Thanks you!

[2021-09-06 00:41] Chavithra commented on #20
Hello there,

you are right that's a bug on unsubscription parsing.

I have just released a fix.

[2021-09-11 20:57] blunderedbishop opened #22 "Historical data, and how can we help"
I see there is currently no way to fetch historical data. Would this be possible to implement?

I would also like to help out with development. If you have a to-do list, it would be great to share it. Thanks!

[2021-09-13 07:23] Chavithra commented on #22
Hello there,

**Historical data**
I am not sure to understand what you mean by « historical data » is it possible to send me an example ?

**Development**
I would love to get some help.
I have prepared a new structure : so people can add/modify a feature without having to look at other features code.

Also have a todo list.

Will try to share both the refactoring and the todo list this weekend.

T

[2021-09-14 01:48] Chavithra commented on #20
Thank you for the bug report.

Closing this ticket.

Feel free to open another ticket if you want to give your feedback on the fix.

[2021-09-14 01:48] #20 closed

[2021-09-15 09:34] ErkkaRy opened #23 "Using tickers"
Hi!

Thanks for the great work with the Degiro API wrapper.

I was just wondering if there is a way to operate with tickers (e.g. 'TSLA' for Testa or 'AAPL' for Apple). Mostly in trading we operate with the tickers and e.g. if I want to fetch history data from Yahoo Finance API or extract a list of potential stocks to trade from Finviz API I have to use tickers. Tickers are also unique (at least o

[2021-09-15 09:39] ErkkaRy commented on #23
So something like the current product_lookup. but where you could use ticker instead and perhaps limit to specific Echanges and product types to avoid potential duplicates.

[2021-09-18 21:31] Chavithra commented on #23
Hello there,

so you want to get the `stock detail` just by providing the `ticker symbol` ?

This might be a solution :

[code]

[2021-09-30 05:21] ErkkaRy commented on #23
Thanks a lot, I'll try this.

[2021-10-13 05:45] Chavithra commented on #23
Closing this issue.

Feel free to open another issue if you have questions.

[2021-10-13 05:45] #23 closed

[2021-10-13 05:50] Chavithra commented on #22
Closing this issue.

Feel free to join me on discord if you want to contribute.

My contact details are on my github profile.

[2021-10-13 05:50] #22 closed

[2021-10-22 11:34] AlphaJack opened #24 "ValueError: Protocol message RequestETFs has no "popularOnly" field."
Today I found out that I cannot search ETFs anymore, I get the following error:

[code]

The relevant request part is the following:

[code]

If I remove the "popularOnly" parameter it complains about "inputAggregateTypes" and so on. If I remove every parameter it returns an unsorted list as expected.

[2021-10-22 11:37] #24 closed, assigned to nobody

[2021-11-01 20:28] fboerman opened #25 "how to get product ids?"
hi!

I wanted to try out your library but I am a bit overwhelmed how to use it correctly. I would like to get some charting ID from a stock, for example for the AEX. I cant seem to find in the examples how to get the product id that belongs to a stock from a company defined by an isin. Could you provide an example for that? Thanks!

[2021-11-01 21:03] fboerman opened #26 "example product_search and product_lookup not working"
hi

I am trying to get some examples to work but to get them working is not as straightforward as I hoped.

to start simple I wanted to list all stocks in netherlands with productsearch. I managed to look up the id for netherlands (978) with ```trading_api.get_config()```

I copied the following code from ```product_search.py```

[code]

however ```print(stock_list.products)``` always prints an em

[2021-11-02 16:49] Chavithra commented on #25
Hi,

what you are calling `charting ID` is actually called like this in Degiro`s API :
- vwdId
- issueid
- vwdIdSecondary

This list is not exhaustive.

Not to confuse with the `id` parameter which is used in Degiro`s API for some "trading related operations".

I think once you will fixed #26 and will be able to see the data it will become easier to understand for you.

If you need charts these is

[2021-11-02 16:53] #25 closed

[2021-11-10 14:23] fboerman commented on #26
hi @Chavithra  thank you I can get some data now! It is all a bit puzzling but this (wrong int_account) was indeed the problem so thats a step in the right direction.

[2021-11-10 14:23] #26 closed

[2021-11-10 20:50] fboerman opened #27 "fetching all stocks"
hi @Chavithra per your request issue instead of discord.

I am trying out the library and am confused by the following. I would like to get a list of all tradable stocks from USA by exchange.
I am trying the following loop:
[code]

however this does not give me all stocks that I can see from the UI.
I am confused by the index_id and offset parameters. I tried both and for both had a confusing resu

[2021-11-10 22:53] Chavithra commented on #27
Hello there,

**Pagination**
In the `ProductSearch` endpoint, the pagination is handled with these two parameters :
- offset
- limit

This is how most Databases (SQL or NoSQL) handle the pagination : with parameters for the `offset` and `limit`.

**Indices**
The `index` parameter seems to be the `stock index`.

Examples of `stock index` :
- CAC 40
- Dow Jones Industrial Average
- Nasdaq Composite

[2021-11-11 08:16] fboerman commented on #27
hi @Chavithra thanks for your answer

I thought as much and a I already tried that. For example I pulled the NASDAQ id from the productsconfig:
[code]
then pulled out nasdaq:
```{'country': 846.0, 'id': 663.0, 'exchange': 663.0, 'postfix': 'NASDAQ'},```
and have the index 663

 and then tried this code:
[code]
but then I always get zero products?

[2021-11-11 09:02] fboerman commented on #27
extra remark, I see that the column 'productBitTypes' does not always contain US_RAS_GREEN_LIST even though I put "is_in_us_green_list=True" in there. does that mean that filter is broken? or does that column mean something else?

[2021-11-11 17:35] Chavithra commented on #27
**Congrats**
It's good that you understood for the `offset` : there is progress indeed.

**More on indices**
Looks like the issue you encounter with the `index_id` was not on you.

With your feedback and by doing some tests I found out that the `ProductSearch` endpoint uses two parameters to filter on `indices` (what is called `indices` on the website).

Here are this two parameters :
- `index_id`

[2021-11-11 17:38] Chavithra commented on #27
Do you have a specific example ?

[2021-11-12 19:23] loopingleo opened #28 "Cannot find user_token"
Probably a stupid question... but how do I find my user token to login? Thanks.

[2021-11-12 19:31] Chavithra commented on #28
Hi, you have a section dedicated to that in the documentation :
- *2.3. How to find your : user_token ?*

[2021-11-12 20:23] loopingleo commented on #28
Thanks - however, that did not help much. What do I need to do to get my token? Access https://trader.degiro.nl/ through a browser?

[2021-11-12 21:34] Chavithra commented on #28
Did you try to run this file ?
- examples/trading/client_details_table.py

It will display your `user_token`.

[2021-11-13 07:43] loopingleo commented on #28
It returns a file not found error:
[code]
--> what am I doing incorrectly? Do I need to create that file myself? Am I executing it incorrectly?
Thanks a lot @Chavithra

[2021-11-13 08:52] Chavithra commented on #28
I think it would be easier if you can see that on Discord.

My Discord is on my profile.

[2021-11-13 09:50] fernandobrito opened #29 "Maximum allowed pandas version is almost 1 year old"
Hi! 👋

This project requires `pandas <= 1.1.5`: https://github.com/Chavithra/degiro-connector/blob/main/pyproject.toml#L26

Is there any particular version of why it needs to be <= 1.1.5? That version is almost 1 year old, and it would be great to bump the requirement to allow newer versions (1.3.x) if there are no known issues.

[2021-11-13 13:36] fboerman commented on #27
hi @Chavithra Thank you for the quick new release. However the new version throws an error for me. I have looked up the ids in product config like so:
[code]

which returns the following three dictionaries:
[code]

then I use the follow code to fetch the stocks:
[code]

but this throws the following error:
[code]

[2021-11-13 13:37] fboerman commented on #27
the same code as above. but I think its better to first focus on the error that I get now with the new version

[2021-11-13 15:01] fernandobrito opened #30 "Unclear when to use request override"
Hello! 👋

Both in the README (https://github.com/Chavithra/degiro-connector#214-how-to-get-chart-data-) and in one of the example files (https://github.com/Chavithra/degiro-connector/blob/main/examples/quotecast/chart_format.py#L40), there's a request `override` being used, but it's not clear to me when and why I should use that.

Also in my own attempts, if I do:
[code]

I get no data in the resp

[2021-11-13 17:16] Chavithra commented on #29
Hi,

this is just to allow compatibility with python 3.6.

I think if you apply these two commands you will have both `degiro-connecor` and a newer version of `pandas` :

    pip install degiro-connector
    pip install -U pandas

[2021-11-13 17:20] Chavithra commented on #30
Hi,

what do you have in the response ?

[2021-11-13 20:09] Chavithra commented on #27
You haved used this code to get the `exchange_id` :

    # find the stock exchange
    [x for x in product_info['exchanges'] if x['name'] == 'NASDAQ'][0]

Result:

    {'country': 'US', 'city': 'New York', 'name': 'NASDAQ', 'id': 663.0, 'code': 'XNAS', 'micCode': 'XNAS', 'hiqAbbr': 'NDQ'}

So :

    exchange_id = 663

But in your request you have put :

    exchange_id=122001

[2021-11-13 22:23] loopingleo commented on #28
Thanks, @Chavithra - I have created my own config directory with a config.json file storing my credentials.
My config file looks a bit like this:
[code]

[2021-11-13 22:23] #28 closed

[2021-11-14 10:34] TommasoBendinelli opened #31 "id argument in Order expects an int or a long, however the ID is a string"
Hi there,

Thank you for your work.  I am having the following issue:

`order=Order(id=order_id,action=Order.Action.BUY,order_type=Order.OrderType.LIMIT,price=price,product_id=order_id,size=size,time_type=Order.TimeType.GOOD_TILL_DAY)`
I get:
*** TypeError: '966ffcae-48c6-49fc-84c8-bfcbcbde0132' has type str, but expected one of: int, long

However id is the order which is a string. What should I

[2021-11-14 10:48] TommasoBendinelli commented on #31
It was a typo, I was passing order_id twice and the error was coming from order_id. It works perfectly now

[2021-11-14 10:48] #31 closed

[2021-11-14 11:55] fboerman commented on #27
hi @Chavithra thank you that was indeed my mistake I swapped the index and exchange ids, oops.

my code for only nasdaq100 is now:
[code]
my code to fetch ALL nasdaq stocks is:
[code]

some observations:
* using raw=True like you say results in a crash with message_to_dict, I guess that makes sense. I use that function since the raw dictionary has many superfluous keys.
* offset is ignored when ge

[2021-11-14 14:42] Chavithra commented on #27
**Total**
If you look at the result of `product_search` method, you can see that the first parameter the API returns is the `total` :

[code]

**productBitTypes**
No idea what this `productBitTypes` attribute is, you will have to find it by yourself.

[2021-11-17 19:06] fboerman commented on #27
okay thanks for the help!

[2021-11-17 19:06] #27 closed

[2021-11-17 20:31] fboerman commented on #29
@Chavithra while I understand you want to support older versions, python3.6 will be deprecated by the end of this year, almost all distros have long updated their python version.

Please consider dropping its support so updated pandas version is installed when you install the package.

[2021-11-17 21:51] fboerman opened #32 "Chart returned data incomplete?"
hi @Chavithra  I am trying to fetch prices with chart like so:
[code]

here vwd_to_ticker is a dictionary which maps the vwdid to the ticker.

but when I look at the resulting data after putting it in a dataframe I noticed some strange things. First of all the number of samples per stock differs. When I join them together I get spots of 1 interval (I tried both hour and minute resolution) where da

[2021-11-17 21:51] Chavithra commented on #29
Alright, you guys convinced me.

Made a new released that support `python 3.7`.

Plus you should be able to use newer versions of `pandas`.

[2021-11-18 07:43] fernandobrito commented on #29
Since I'm adding your library as a dependency of my library and installing my library through `pip`, I'm not sure how the `pip -U` would work in that case.

Great, thanks for the quick action on bumping the `pandas` requirement! I will give it a try this weekend and most likely close this issue. 🙌

[2021-11-18 07:46] fernandobrito commented on #30
Aha, I actually blindly copy and pasted the example file and didn't realize that the period and resolution were incompatible.
I see that you did some updates on the examples, thanks! I will give it a try during this weekend and most likely close this issue. 🙌

[2021-11-18 18:40] fboerman commented on #32
hi @Chavithra im sorry thats a typo my bad. I have edited the snippit to be correct

[2021-11-18 20:55] Chavithra commented on #32
I think after changing this line too it should work :
[code]

[2021-11-18 20:57] fboerman commented on #32
I don't understand, that line is already there otherwise I can't extract the multipel series.

The problem is that there are missing data points within that série?

Sent from ProtonMail mobile

-------- Original Message --------
On 18 Nov 2021, 21:55, Chavithra wrote:

[2021-11-19 20:29] VVIERV00 opened #33 "Error 400 after some hours"
Hi! first, thank you for the work you have put into this API.
With the session still running (I can fetch the portfolio) given enough time, all actions return this error
400 Client Error: Bad Request for url: https://trader.degiro.nl/trading/secure/v5/checkOrder;jsessionid=D1AA41FB58C704CXXXXXXXXX.prod_a_XXX_X?intAccount=XXXXXXXX&sessionId=D1AA41FB58C704CXXXXXX.prod_a_XXX_X

The URL seems to be th

[2021-11-19 20:47] Chavithra commented on #33
Hi,

I think you are referring to the `session timeout`, there is a limit of time a session is valid when unused :
- https://github.com/Chavithra/degiro-connector#25-is-there-a-timeout-
- https://github.com/Chavithra/degiro-connector#38-is-there-a-timeout-

Is that what you are looking for ?

[2021-11-19 20:56] VVIERV00 commented on #33
I am referring to that the problem only happens with Orders, not Update's. I don't know why, I will try to debug. The final exception is
` NoneType' object has no attribute 'confirmation_id'.`

[2021-11-19 21:02] Chavithra commented on #33
Can you send the code you are trying to execute ?

[2021-11-19 21:29] Chavithra commented on #32
Here you use a `data` variable :
[code]

This `data` variable is not defined in the example you have shown.

Should it be  like the following ?
[code]

[2021-11-20 11:33] fboerman commented on #32
hi @Chavithra hmm it seems I copied from my notebook which is messed up in saving, happened to me before. sorry for the confusion.

below is a function I wrote in a seperate script which is correct:
[code]
this returns a dictionary with series. not a dataframe yet because of the following issues.

when I merge two series in a dataframe like this:
[code]
then I get gaps like this:
![Screen Capture_

[2021-11-20 14:49] fernandobrito commented on #29
Awesome, I confirm that I can now have `degiro-connector` alongside with the latest `pandas` version as dependencies of my project. Thanks for the quick action!

[2021-11-20 15:37] fernandobrito commented on #29
Hmm, wait. Actually, I do confirm that my code works with `pandas` `1.2.x`, but when I try `1.3.x` I get an error when I try to call `ChartHelper.serie_to_df`.

This line https://github.com/Chavithra/degiro-connector/blob/main/degiro_connector/quotecast/actions/action_get_chart.py#L197 returns

[code]

On `1.3.x`. Let me try to reproduce it on a clean environment outside my code so I can share mor

[2021-11-20 15:47] fernandobrito commented on #29
It is reproducible by trying to run the `chart_format.py` example file.

[code]

Downgrading to `pip install "pandas~=1.2.0"` solves the issue.

[2021-11-20 16:40] Chavithra commented on #29
how about now ?

[2021-11-20 17:04] fernandobrito commented on #29
@Chavithra great, now it works, thanks!

I was also taking a look myself and I came up with
[code]

But your solution looks more elegant.

I also ended up writing a unit test for it on my fork, and `poetry` gave me errors claiming that `pandas` 1.3.x requires `python >= 3.7.1`, while the current `poetry` file has `3.7`.

If you want to take the unit test, here is my code: https://github.com/Chavit

[2021-11-20 17:04] #29 closed

[2021-11-20 17:06] fernandobrito commented on #30
For me the example works well now, thanks.

[2021-11-20 17:06] #30 closed

[2021-11-20 20:32] Chavithra commented on #29
Is it possible to create a Pull Request  with your modifications ?

Will take a look at it as soon as possible.

[2021-11-20 21:45] Chavithra commented on #32
I have checked the data and this seems to fit what the API is returning.

Looks like when you choose a `PT1H` `resolution` : it can display multiple recording within the same hour.

Though, the recordings seem to be valid ones.

For instance, if you filter with `PT1M` (1 minute) `resolution` you will have the following values  :

|**timestamp**|**AAPL price**|**GOOGL price**|
|:-|:-|:-|
|2021-11-1

[2021-11-22 18:26] fboerman commented on #32
hi @Chavithra thank you for the answer.

so if I fully understand you the price for hour is a rounding point in that hour? that would be a bit weird? But I guess for the purpose of showing the trend its possible.

[2021-11-22 20:16] Chavithra commented on #32
From the data I saw : it looks like they pick some values within a specific hour.

I also don't get why they don't just put one value : the closest record they have to this specific hour.

Also beware : all this is a guessing from that quick test I made.

[2021-11-23 20:37] fboerman commented on #32
hi @Chavithra  okay that makes sense I guess. Not sure what is the best way to check that right now. Do you have an idea why points are missing?

[2021-11-24 21:39] VVIERV00 commented on #33
Sorry for the late reply. I can confirm it is still failing:

[code]
The exception e contains:
`'NoneType' has no attribute 'confirmationId`
And right before an exception is caught in action_check_order:134
[code]
Exception e:
`400 Client Error: Bad Request for url: https://trader.degiro.nl/trading/secure/v5/checkOrder;jsessionid=D1AA41FB58C704CXXXXXXXXX.prod_a_XXX_X?intAccount=XXXXXXXX&sessionId=

[2021-11-25 01:39] Chavithra commented on #33
**Questions`**
1/ So the call to `check_order` method failed ?

 2a/ Is it failing at every single call of `check_order` ? randomly ? or after a certain duration ?

[2021-11-27 05:31] Chavithra commented on #32
Since that's the way data is returned from the API I think you can only postprocess it or search for a another way to get it.

Closing this issue.

Feel free to open a new one or ping me on Discord if you have another question.

[2021-11-27 05:31] #32 closed

[2021-11-29 17:54] VVIERV00 commented on #33
1/ Yes
2/ I'm trying to figure further. It starts to fail randomly, after this it never gets to make a successful call. (Still other calls like fetching portfolio work) I'm trying to reload the session every 1 hour but it is still prone to fail. I'm trying with a lower threshold.

[2021-11-29 18:56] VVIERV00 commented on #33
2/ It definitely fails randomly, at any given time. Event after some minutes of the session started.
If the petition is copied in the browser it replies:
`{"errors":[{"text":"Method not allowed"}]}`

[2021-11-29 20:17] VVIERV00 commented on #33
I found the error! DeGiro doesn't keep an updated margin, also happens on the web. Sometimes you will make an operation, but the margin will take a while to update. Did you know about the issue and any workaround?

[2021-12-01 16:08] alirezamdv opened #35 "404 in ProductSearch"
Hi, thanks for sharing your nice work.
This method  ProductSearch.**RequestStocks(**) returns 404.
This is the request url:
https://trader.degiro.nl/product_search/secure/v5/stocks?intAccount=0&sessionId=*****prod_b_127

![image](https://user-images.githubusercontent.com/40889755/144271172-d520c2e6-2fdd-4dbd-ad3f-f64d64f61447.png)

[2021-12-01 16:18] alirezamdv commented on #35
I fixed with commenting the "intAccount" parameter in product_search. It works for me.

[2021-12-01 22:17] Chavithra commented on #35
Hello Alireza,

I learn something there :
- didn't know that when you remove the `intAccount` it was still working.

This library tends to simulate as much as possible how the website behave : and the website sends the `intAccount`.

More information on the `int_account` on this section of the documentation :
- *3.4. How to find your : int_account ?*

If you really don't want to send you `intAccou

[2021-12-01 22:19] Chavithra commented on #33
How did you find out about the margin ?

[2021-12-02 10:36] alirezamdv commented on #35
Thanks for fast reply. You are right, I just set the intAccount in the credential and it works correctly, but it also works without setting the intAccount, so if the intAccount is not set, we can take it out from URL.

[2021-12-02 10:51] #35 closed

[2021-12-03 08:45] 123m321 opened #37 "bid & ask size?"
First of all many thanks, this is really great work Chavithra!

I have a few questions. Would it be possible to the the size of the bid and ask? We can get the bidPrice and askPrice, but for how many shares is this (or contracts, in the derivates market)?

And second, is it possible to get a snapshot of the dept of the orderbook?

[2021-12-03 12:47] Chavithra commented on #37
Hello there,

**Bid and Ask**
You can get the following information using the `fetch_data` method from the `quotecast.api` module :
- ask price
- ask volume
- bid price
- ask volume

**Which products ?**
I guess your question was about : knowing for which `products` you can get this `bid/ask` data ?

It seems to work on most of the product types : `stocks`, `currencies`, `etfs`, `bond`...

Beware

[2021-12-03 12:57] 123m321 commented on #37
Thanks!

With the orderbook I mean what's in the depth of the market.

Say a stock is quoted 20.00 at 20.05 (for 500 shares on both sides). But what's the bid behind? You can see at DG website what's the second best bid (say, 19.99 for 50000 shares). And behind that 19.97 for 500.

For many products you can see the orderbook realtime.

[2021-12-03 21:59] VVIERV00 commented on #33
Making operations and checking the website margin showed. If lucky it will refresh in a couple of seconds, but there are times that it take up to 20 minutes to refresh. Degiro's website actually provides the date of the margin calculation.
Using the margin to calculate ops (let say you want to use 10% of the available margin) can lead to failures as it's incorrect data.

[2021-12-05 11:33] hvandenesker opened #38 "ssl.SSLError: ('No cipher can be selected.',)"
I tried to run example, but all fail due to:

[code]
Using OsX (BigSur)

[2021-12-05 11:47] Chavithra commented on #38
Hello there,

no idea what this is.

You can add me on Discord to take a look at this when we both have some free time.

[2021-12-05 12:53] hvandenesker commented on #38
I did some experimentation myself. New to python, but removing the line:
[code]
from model_session I am able to login and get transactions etc.
For me this solves the issue for now. So, is this line necessary ?

[2021-12-06 12:32] 123m321 opened #39 "order entry fails in a product"
I tried sending orders, and everything worked fine. Stocks, ETF's, buying and selling, great.

But there's one product which fails for me. The order isn't refused, it just gives no confirmation. It gives this debug text:

CRITICAL:degiro_connector.trading.actions.action_check_order:<Response [404]>
CRITICAL:degiro_connector.trading.actions.action_check_order:404 Client Error: Not Found for url: ht

[2021-12-06 21:18] b-aeby opened #40 "Order confirmation error message not returned"
Hello,
I didn't manage to get the error message when an order can not be confirmed.
Error message contains important information like :
 - minimal tick size
 - price too far from last price (with very last price value even for D15!)
Would it be possible to return error message or document how to access it?

Thank you very much
Ben

[2021-12-07 20:57] funnel20 commented on #37
@Chavithra I'm surprised to read by accident in this issue report that the `fetch_data()` method can also deliver ask and bid **volume**. This is not part of the [documentation](https://github.com/Chavithra/degiro-connector#26-how-to-subscribe-to-a-data-stream-).
I tried to add `"AskVolume"` and `"BidVolume"` to the array with subscriptions, and they were returned. 👍
Can you please update the docu

[2021-12-07 21:09] funnel20 opened #41 "What is the best way to determine whether an order is executed and against which price?"
I'm able to create and confirm an order based on your [documentation](https://github.com/Chavithra/degiro-connector#41-how-to-create-an-order-).

When trading on the DeGiro website, once an order is executed, a popup is shown briefly.
Is there a way to subscribe to this event via the connector?

Or should we poll actively to see the changes.
For example to [retrieve pending orders](https://github.

[2021-12-08 03:34] Chavithra commented on #38
Was not able to reproduce the issue for which I have put this code :
[code]

Maybe it is not required anymore.

Disabled this code by default : will remove it after a while if no one complains.

Published a new version : 2.0.10

Let me know if that works on OS X.

[2021-12-08 03:39] Chavithra commented on #39
Hello there,

was not able to find this product in Degiro`s website :
- `product_id` : `600015811`

Are you sure this product exists ?

[2021-12-08 03:42] Chavithra commented on #37
@funnel20 : you are right about the doc.

PR are welcome if you want to help improving this library.

[2021-12-08 05:03] Chavithra commented on #41
I think you are referring at this feature from the website :
- after : creating an Order
- is display : a notification pop-in

Notification will let you now that an Order as been created.

As magic this notification looks like it seems to be done by :
- retrieving `pending Orders`
- every 2 seconds or so

[2021-12-08 05:17] Chavithra commented on #40
Hello there,

to see the error messages : you can use the logs.

Here is how to setup `logging level` :
[code]

[2021-12-08 05:26] Chavithra commented on #33
The website doesn't seem to use any API call to calculate this `margin`.

I am interested in knowing more on that `margin`.

Feel free to join me on Discord if you want to see that together.

Thanks

[2021-12-08 08:29] 123m321 commented on #39
Absolutely, I just tried with the chart.py in Jupyter and received this:

It's a kind of bond - and maybe the currency thing is a problem? It's in euro but it's traded as percentage.

`{'requestid': '1',
 'start': '2021-12-01T00:00:00',
 'end': '2021-12-07T00:00:00',
 'resolution': 'P1D',
 'series': [{'expires': '2021-12-08T09:20:59.6754964+01:00',
   'data': {'issueId': 600015811,
    'companyId'

[2021-12-08 08:52] funnel20 commented on #41
I was not referring to the confirmation popup that the order is created.
I'm referring tot the 2nd popup, that informs that the order is executed against price X.

[2021-12-08 08:56] funnel20 commented on #37
I'm happy to contribute for the docu, but please understand that I don't have the knowledge about the details of DeGiro API.
So are there any other parameters than `'AskVolume'` and `'BidVolume'` for the `fetch_data()` method that you are aware of?

[2021-12-08 09:28] Chavithra commented on #41
Do you have a capture of the location of this "2nd popup" ?

[2021-12-08 09:32] Chavithra commented on #39
Note that these two elements are different :
- issue id
- product id

[2021-12-08 09:34] funnel20 commented on #41
Not for now, but the flow on the DeGiro website is quite self-explanatory:

1. When creating an order, it will be shown in the left table Outstanding, while the confirmation popup "new order created" is shown briefly:
<img width="652" alt="Screenshot 2021-12-08 at 10 31 13" src="https://user-images.githubusercontent.com/2139844/145184085-29036f2e-2682-401b-8d39-fb8e7633e7d8.png">

2. When the targ

[2021-12-08 10:19] Chavithra commented on #41
Ok got it.

Oustanding : `orders`
Lastest Transactions : `transactions`

Just checked how the website is doing.

It still seems to use this endpoint :
- `trading/secure/v5/update`

That you can consume with the method `update`.

[2021-12-08 10:32] funnel20 commented on #41
Awesome, I'll try this out.
Just for my understanding, is the `get_update()` used as a single call with a single answer, or is it more similar to `fetch_data()` as a a data stream, which will send updates once they occur?

[2021-12-08 10:39] #39 closed

[2021-12-08 12:02] b-aeby commented on #40
Hello Chavithra,

Thank you, logging was already in DEBUG level, but the log doesn't return the confirmation error details.
Here is a way to reproduce:
Open an order for a price too low on stock : SOON | CH0012549785 limit 1.00CHF, size 1. (Displayed price at 12h48 is 350.10CHF with 15 minutes delay.)
Validate order, then confirm.
A popup shows this error message: "Le prix renseigné 1.0000 est tro

[2021-12-08 13:14] Chavithra commented on #41
Not exactly : fetch_data uses long polling.

Here this is just refreshing : the website seems to reload the data every 2 secondes.

[2021-12-08 17:12] funnel20 commented on #41
I have tried this, and I see the recent transactions.
What is the meaning of the  value for parameter `last_updated`?
I.e. what if set to a value other dan `0`?

[2021-12-09 02:00] Chavithra commented on #41
You need to send back send back the `last_updated` you received.

I think this is how this `endpoint` avoid sending you the same data twice.

[2021-12-09 07:58] Chavithra commented on #40
You are French ?

Ok got your issue.

Released a new version with better `error logging`.

Does that fit your need ?

[2021-12-09 10:38] b-aeby commented on #40
Thank you for your quick reaction!
I am Swiss, in the french speaking part.

I can now read the error in the log, but an error occurs:

One objective is to use error content to get the tick size and correct the failing orders. Error logging is interesting, but won't help for automated orders correction.

[2021-12-09 11:51] Chavithra commented on #40
So you are not only using this for `debugging` : you want to returned error to do some automation with it ?

Maybe we can reach each other on Discord so we can find a solution which fit.

[2021-12-09 18:54] VVIERV00 commented on #33
I will eventually have to deal with that margin, so expect me on Discord. Thank you again.

[2021-12-09 18:54] #33 closed

[2021-12-10 22:23] 123m321 commented on #37
I wonder if the highest and lowest price of the day (this is available on the website) can be fetched?

[2021-12-11 07:32] coveritytest opened #44 "Trailing Stop Loss Support"
First of all, great job! As Degiro supports Trailing Stop Loss and I do not find in the documentation, do you support this as well?

[2021-12-12 08:07] coveritytest commented on #44
My bad, found it in the code finally. Thanks!

[2021-12-12 08:07] #44 closed

[2021-12-12 11:04] b-aeby commented on #40
Hi Chavithra,
Thank you for all, now error content is fully available and unnecessary lines have been removed.
I don't have a Discord account yet, I'll create one soon.
Regards

[2021-12-12 11:04] #40 closed

[2021-12-12 20:26] 123m321 opened #45 "Fetch the close price?"
Within the portfolio I can retrieve the close price from stocks ('closePrice' in the portfolio df).

But from the quotecast part, I can't find the ClosePrice data. But I have the feeling it must be there, somehow? If I add ClosePrice to the quotecast, it gives no error. But also returns no data.

[2021-12-13 11:12] 123m321 commented on #37
HighPrice and LowPrice work as well.

[2021-12-13 12:48] Chavithra commented on #45
I think it's called : `PreviousClosePrice`

[2021-12-13 13:06] 123m321 commented on #45
Check, will add it to the readme

[2021-12-13 13:06] #45 closed

[2021-12-16 09:43] segnalisys opened #47 "Info gui Degiro"
I was considering around for zero commissions and but the platform they have is too slow in placing orders. I came across this api but I'm not a programmer and I wanted to ask you but is it possible to create a GUI interface for order entry? in practice it consists of the book where the quantities and the price are entered and the window where the orders entered appear. The platform I use is writt

[2021-12-16 12:39] Chavithra commented on #47
Hello,

there is no `gui` with this library.

You can access some Degiro's features with this tool :
- https://github.com/GamestonkTerminal/GamestonkTerminal

It works on `command line`.

I am not certain to understand which features you are looking for.

Feel free to reach me on `Discord`.

[2021-12-16 22:02] Nearata opened #48 "Local variable referenced before assignment in action confirm order"
package version: **2.0.11**

file: **action_confirm_order.py**
line: **148**

seems already fixed in main, but there's no update with the new changes on pypi

[2021-12-16 23:14] mjsampaio opened #49 "Error using ChartHelper.serie_to_df on windows"
Hello,
thank you very much for your great work.
I'm trying to use ChartHelper.serie_to_df on windows and i'm getting this error:

File "c:\Mauro\Python\yfinance\chart_format_ori.py", line 58, in <module>
    chart0_df = ChartHelper.serie_to_df(serie=chart.series[0])
  File "C:\Mauro\Python\yfinance\yfin\lib\site-packages\degiro_connector\quotecast\actions\action_get_chart.py", line 197, in serie_t

[2021-12-17 08:45] Chavithra commented on #49
Hello Mjsampaio,

is it possible to send an example ?

Thanks

[2021-12-17 08:47] Chavithra commented on #48
Hello there,

can you send an example of code which crashes with version `2.0.11` ?

Thanks

[2021-12-17 11:50] Nearata commented on #48
Hello!

I can confirm that's fixed in `2.0.12`.

Thank you!

[2021-12-17 11:50] #48 closed

[2021-12-17 16:22] mjsampaio commented on #49
Hi Chavithra, i was using version 2.0.7
After the update to version 2.0.12 the error disappear.

Thank you.

[2021-12-17 16:28] #49 closed

[2021-12-17 18:20] funnel20 commented on #41
This is how we've implemented it after placing an order:

[code]
We even take into account that the order might be executed by multiple transactions.

[2021-12-17 19:15] Chavithra commented on #41
Who is « we » ?

I think this can be more straightforward.

If I remember right « get_update » can let you know that the order was executed.

But you need to provide the « last_update ».

[2021-12-22 15:22] Abbetjen opened #53 "KeyError: 'intAccount' for specific account"
Hi! I'm an accountant building dashboards in Power BI and was able to use the connector to fetch data from DeGiro into Power BI. Great work (especially considering I don't know any Python) !

I'm using different DeGiro accounts to get data from, but somehow for one account I keep getting a'  KeyError: "intAccount" when trying the fetch the client_details table. When I use the same lines with diffe

[2021-12-23 10:25] funnel20 commented on #41
@Chavithra Well, "we" is a group of friends who are using your awesome connector into a project. I recently helped you with PR https://github.com/Chavithra/degiro-connector/pull/42 .

There were some issues processing `trading_api.get_update()`, hence this is what we came up with.
It works for now, just wanted to inform other users about this, as it provides at least an answer to the issue (maybe

[2021-12-23 10:43] funnel20 opened #54 "Is there a way to access fault data on API requests, instead of returning `None`?"
For example the Trading API might return a negative response while creating or updating orders, see for example the error response in  https://github.com/Chavithra/degiro-connector/pull/50#issuecomment-997392518

[code]
However, this is only observed in the CRITICAL Logging.
The functions `check_order()`, `confirm_order()` and `update_order()` will return just `None` in case of an error.

It's imp

[2021-12-23 21:59] Chavithra commented on #37
You can use something like this :
- A1Price
- B1Price

[2021-12-24 11:15] Chavithra commented on #53
Hello Abbetjen,

can you send the error you have ?

Thanks

[2021-12-24 11:33] Chavithra commented on #54
Hi, did you try with the latest release and setting `raw=True` ?

[2021-12-24 11:38] Chavithra commented on #41
@funnel20 I think I know how to integrate this "order state detection feature".

But I don't have the time for this yet.

If you are up for the challenge we can brainstorm a specification for this together.

[2021-12-24 21:23] #38 closed

[2021-12-27 21:02] funnel20 commented on #54
@Chavithra Thanks for the tip, will try later this week.

[2022-01-02 19:27] funnel20 commented on #54
@Chavithra Best wishes for the New Year.

I've tried the `confirm_order()` with `raw==True` of version 2.0.13 but I'm a bit puzzled.
When forcing the error that the limit price is way too low compared to the actual price, I see the following logging traces in the Terminal:

[code]
These seems to match with the following code section: https://github.com/Chavithra/degiro-connector/blob/e950396191d85

[2022-01-03 19:31] e9henrik opened #55 "ActionConfirmOrder.confirm_order does not return interpretable error message"
When the order confirmation fails (can be due to eg. tick size being wrong, connection with exchange down, maintenance window etc) the order confirmation fails scilently and returns none.

Changing the code below in action_confirm_order.py will instead return the error message in a dictionary (making it possible for example to get the correct tick size, if that's the cause of the error)

[code]
[c

[2022-01-03 22:39] Chavithra commented on #55
Hello there,

looks like you are not having the latest code.

Which version are you using ?

[2022-01-03 23:16] Chavithra commented on #54
Hi @funnel20,

Thanks

Happy New Year to you too !

How about returning :
- the `requests.Response` object
- or a specific Error including the `requests.Response` object
- or a specific Error including : `text` + `status_code`

I think the `Tuple` is too implicit.

Also I am wondering :
- how to change of interface can impact the other users ?
- if it's possible to use the same error handling syst

[2022-01-04 10:54] funnel20 commented on #54
@Chavithra
To start with your most important question: we're discussing changes to the output of existing functions.
So this means **breaking changes** that impact all users. So it's a major update to version 3.0 of the connector.

Having that said, most users are probably making apps to automate their trading. Meaning they put their money at risk.
Therefor it's inevitable to have proper fault det

[2022-01-04 22:58] e9henrik commented on #55
Thanks for pointing that out, I was using 2.0.9.

[2022-01-05 23:21] e9henrik commented on #55
Hi again, I now checked 2.0.13, and this is indeed fixed for confirm_order(). Super!

check_order needs a similar fix, as degiro handles some errors already at checking (such as order size multiple).

[code]

Thanks alot for creating this great package!

[2022-01-06 04:38] Chavithra commented on #55
Hi, contributions are welcome.

You can make a PR with your code update.

Otherwise will see that later this month.

[2022-01-06 15:29] funnel20 commented on #55
Please note that this is related to https://github.com/Chavithra/degiro-connector/issues/54 to improve fault handling consistently. Also for default `raw` = `False`.

[2022-01-06 15:35] funnel20 opened #56 "TradingAPI `check_order()` no longer returns `free_space_new` and the 3 `transaction_XXX` properties"
The [create order docu](https://github.com/Chavithra/degiro-connector#41-how-to-create-an-order-) shows that the response on `check_order()` has 6 parameters.
I did see all of them in the past, but recently it only returns:

- `confirmation_id`
- `response_datetime`

This behaviour is observed on both NASDAQ and Euronext Amsterdam.

[2022-01-09 08:08] e9henrik commented on #54
The pythonic way to do error handling would be to throw an exception, and the exception object could contain the status code and error message.

An alternative to providing a migration script could be to  have exceptions enabled by an option, and log a warning message when the option is not enabled (i.e. "Deprecation warning: error handling with exceptions not enabled, see [some documentation link

[2022-01-09 09:01] funnel20 commented on #54
Thanks @e9henrik for your better suggestion. Like mentioned I'm new to Python, so if exceptions are the way to go; perfect.
Out of curiosity; can an exception contain more than just an error message string, like a `dict`?

[2022-01-09 09:36] e9henrik commented on #54
Sure. Exceptions are first class python objects. See for example https://www.programiz.com/python-programming/user-defined-exception

[2022-01-09 10:09] funnel20 commented on #54
Awesome, thanks for teaching me something new this morning.

[2022-01-10 09:04] funnel20 commented on #54
Great idea. This would even prevent breaking changes. It can just be a boolean that defaults to `False`, similar to parameter `raw`.

[2022-01-14 13:30] RuBo84 opened #57 "Standard functions returning 404"
First: this is an awesome project, kudo's to you and everybody contributing. I'm trying to get started and most things are working. But when I fire example scripts found on this repository like
[order.py](https://github.com/Chavithra/degiro-connector/blob/main/examples/trading/order.py)
or
[favourites_list.py](https://github.com/Chavithra/degiro-connector/blob/main/examples/trading/favourites_list

[2022-01-14 13:53] RuBo84 commented on #57
So, I just figured it out. In order for this to work, the 'int_account' has to be set at the moment of connecting. For using the favourites and order functions, you need this!
Maybe it is wise to mention this in the documentation and in the example files, because for n00bs like me ;) this was not obvious.
Thanks.

[2022-01-17 11:18] #37 closed

[2022-01-17 13:24] coveritytest opened #58 "How to convert ISIN to product_id?"
Is there an easy way to convert an ISIN to a Degiro product_id?

[2022-01-17 16:13] Chavithra commented on #58
Hello there,

you can put the ISIN inside the `search_text` parameter with the `product_search` method.

More information about `product_search` in the documentation.

[2022-01-17 16:21] Chavithra commented on #57
Hello there,

you are right as explained in the documentation : `int_account` is not mandatory for `connect` and `get_client_details` methods but it is for some `trading` operations.

Feel free to do a `Pull Request` if you want some updates on the documentation.

Contribution are welcome.

Thanks

[2022-01-17 16:21] #57 closed

[2022-01-17 16:38] Chavithra commented on #56
Hello @funnel20,

you are right, I think they have changed their API.

The `check_order` response looks like this now :

[code]

A new release let you access these new parameters.

[2022-01-17 17:25] funnel20 commented on #56
Hi @Chavithra,
Thanks, I'll test it tomorrow. I see you have it assigned to me. Do you want me to update the docu?

[2022-01-17 17:27] funnel20 commented on #54
Hi @Chavithra , what do you think of the solution by @e9henrik with exceptions and an additional input parameter to prevent breaking changes (and a migration guide/script)?

[2022-01-17 18:03] Chavithra commented on #54
Hi @funnel20, I think its a good idea.

I won't have the time this month to implement it.

Feel free to join me on `Discord` if you want to talk about this.

[2022-01-17 18:08] Chavithra commented on #56
The assignment thing as likely no meaning except: waiting for feedback.

Your contribution is always welcome.

Thanks for letting me know about this bug.

[2022-01-18 06:42] #58 closed

[2022-01-18 09:07] funnel20 commented on #56
@Chavithra I'd like to test the update, but `pip` doesn't have version 2.0.14:

`ERROR: Could not find a version that satisfies the requirement degiro-connector==2.0.14 (from versions: 0.0.4, 0.0.6, 0.0.7, 0.0.8, 0.0.9, 0.0.11, 0.1.0, 0.1.1, 0.1.3, 1.0.0, 1.0.1, 1.0.2, 1.0.3, 1.0.4, 1.0.5, 1.0.6, 1.0.7, 1.0.8, 1.0.9, 1.0.10, 2.0.0, 2.0.1, 2.0.2, 2.0.3, 2.0.4, 2.0.5, 2.0.6, 2.0.7, 2.0.8, 2.0.9, 2.0

[2022-01-18 14:37] Chavithra commented on #56
fixed

[2022-01-18 14:45] funnel20 commented on #56
Cool. I'm working on improved docu for Chapter 4 (Orders). I'll send you a PR once ready for review.

[2022-01-18 15:38] funnel20 commented on #56
I've tested `confirm_order()`, but only see 3 of these parameters:
[code]
`freeSpaceNew` is missing.

I also notice that these parameter names have camel case syntax, instead of the Pythonian underscores.

Regarding the docu, do you have any idea what `showExAnteReportLink` means?

[2022-01-18 16:00] funnel20 commented on #56
Update is pending as PR https://github.com/Chavithra/degiro-connector/pull/59

[2022-01-18 16:19] funnel20 commented on #40
@b-aeby Please see my ongoing issue https://github.com/Chavithra/degiro-connector/issues/54 to return the fault data.

[2022-01-18 19:23] coveritytest commented on #56
Apparently the buy price is not returned when an order is confirmed. Is there an easy way to get the buy price with the order id?

[2022-01-18 20:31] funnel20 commented on #56
When the order is confirmed, it's not executed by the exchange, so the price is not known. You can retrieve the execution price from the transaction history. Unfortunately that doesn't report the `order_id`, so you should link the order to the matching transaction. For an example, see: https://github.com/Chavithra/degiro-connector/issues/41

[2022-01-18 21:10] b-aeby commented on #40
Hi Funnel20,

Thank you for your message.
Many good ideas have been proposed. I was missing the error content message and found a solution that has been implemented. As long as the error details will be returned, I'll accomodate with any modification keeping datas available... The pythonic way has my favour.
Regards
Benjamin

18 janvier 2022 17:19 "funnel20" ***@***.*** ***@***.******@***.***>)> a

[2022-01-19 09:04] funnel20 commented on #56
@coveritytest As indicated in the [order docu](https://github.com/Chavithra/degiro-connector#4-order), you should use parameter `stop_price` instead of `price` for `Order.OrderType.STOP_LOSS`.

[2022-01-19 10:23] coveritytest commented on #56
Thanks for your help, I'm sorry, I deleted all my comments, so can you. Then it's clean again.

[2022-01-21 08:47] jaapstefels opened #60 "Accessing all historic data of an chart."
Thank you for creating this package, it is awesome!

Degiro has the function to select all historic chart data of an ETF, aside from the 1 day, 1 week, 1 month, 1 year, 3 years, 5 years. What Chart.Period.___ command can be used to access this data? Furthermore, is it possible to get an hourly resolution when using a period greater than a single day? This feature would be very useful for data proc

[2022-01-21 11:13] realmistic opened #61 "Can't run the connection.py example on Google Colab"
Hi!

I've tried to run your basic connection example ( https://github.com/Chavithra/degiro-connector/blob/main/examples/trading/connection.py) and received the following error:

**ImportError: cannot import name 'final' from 'typing' (/usr/lib/python3.7/typing.py)**
  on the line ("from typing import Dict, final")

Here is my Colab notebook (it can be copied easily and tested) : https://colab.rese

[2022-01-21 15:52] Chavithra commented on #61
Hello didn’t know `final` decorator was so recent.

It’s seems to be available starting from python 3.8.

Will consider removing this decorator since it’s just `typing`.

[2022-01-21 20:49] realmistic commented on #61
Thanks, Chavithra!
I'll wait that to happen

[2022-01-24 15:41] Chavithra commented on #54
Hello @funnel20, alright will try to formulate a specification tonight (or during the week if I can't tonight).

[2022-01-24 21:43] e97317 opened #62 "error 429 when sending 2 order commands within less than 1 second"
Hello,
Probably not a bug but rather a limit from the server side.
Do you see the same behaviour? Any workaround?
Thanks.

[2022-01-24 22:04] Chavithra commented on #62
Hello there,

is it possible to share the full error log ?

Without your credentials of course.

I think Degiro is doing some check with this order creation.

So I wouldn’t play too much with fast ordering.

It’s safer to put some random number of seconds between your orders.

[2022-01-28 16:44] Chavithra commented on #54
Here is my requirement proposal.

### Currently
When an action fails we are :
- logging the error (`HTTPError`, `JSONDecodeError`,...)
- returning `None`

### New behaviour
We will add a new parameter to an action.

When this parameter is enabled, on action fail we will :
- log the error
- raise an `Exception`

When this parameter is disabled, we will :
- log the error
- return `None`

The raised

[2022-01-28 16:57] funnel20 commented on #54
Hi @Chavithra , this looks good, especially since it will be a seamless update for exiting projects.

Two questions:

1. For the returned `Exception`, do you want to forward the raised exception (`HTTPError`, `JSONDecodeError`,...), or make a custom one, or even custom ones?
2. Is there a need / reason to return the http request in the `Exception`? I expect the http response is sufficient, as that

[2022-01-28 17:04] Chavithra commented on #54
Hi @funnel20,

1. Whatever you think makes the most sense.
Although I don't know if HTTPError (or others) can store details about the request/response
2. Better be safe than sorry : I think it will allow more possibilities for the user of this library

[2022-01-28 17:18] funnel20 commented on #54
1. Good one. As also indicated by @e9henrik we can make a custom `Exception` to handle our dedicated set of return parameters. But when for example a `ConnectionException` occurs (e.g. no internet connection), there is no http response. So we can either populate that return parameter as `None`, but then the exception parser still has no idea about the root cause and what kind of action should take

[2022-01-30 08:12] funnel20 commented on #56
@Chavithra Did you see my [feedback](https://github.com/Chavithra/degiro-connector/issues/56#issuecomment-1015534662)?
And can you update please?

[2022-01-30 08:16] funnel20 commented on #62
I've detected this behaviour too. DeGiro throws HTTP 429 (Too Many Requests) when sending consecutive Order requests within 0.75 s. So please ensure to create some delay or advanced queue scheduler.

[2022-01-30 15:52] Chavithra commented on #56
Hello @funnel20 I indeed didn’t see your feedback.

Thank you for this reminder.

Noted this point will work on it the following days.

[2022-01-30 16:15] funnel20 commented on #56
@Chavithra Awesome. I already wrote the [docu](https://github.com/Chavithra/degiro-connector#411-check-order) with the Pythonian names.

[2022-01-30 18:08] Chavithra commented on #61
Hi, I just removed the usage of `final` decorator.

Let know if you still have issues with Colab.

Thanks

[2022-01-30 18:56] funnel20 commented on #54
I've been prototyping today and discovered that the exceptions that are raised by the [`requests` library](https://docs.python-requests.org/en/latest/) already have the `request` and `response` objects as can be seen in the [source code](https://github.com/psf/requests/blob/24dfbfde552bb8ce48eec415714cbe793cfa95bd/requests/exceptions.py#L22-L23) of the `RequestException` 👍

All other exceptions, s

[2022-01-31 15:49] 123m321 commented on #62
Maybe good to create a list of all error numbers. Don't remember the numbers, but I saw error numbers for

- not enough free space for a buy order
- not enough long position for a sell order
- sending order with wrong ticksize (say, €200,01 when it has to be a multiple of €0.10)
- time-out error (using too many delays, so it timed out)

Just met error 502, but don't know what it means.

[2022-01-31 16:00] Chavithra commented on #54
That's a great work @funnel20 !
Will check that in detail the following days and give you my feedback.

[2022-01-31 19:14] samardzicd commented on #54
Is it possible to share more examples on the degiro api? How you ise it? I would love to integrate it with backtrader, any ideas how to do that? Regards

[2022-02-01 10:51] funnel20 commented on #62
I share your desire to have a proper fault code list. And moreover the root cause and solutions for them.
We can do this better once #54 is completed, as we then better can analyse the HTTP status codes and fault messages (horrible that DeGiro sends them as localised strings).

I'm happy then to add a specific chapter on Fault Handling to the docu.

[2022-02-01 10:59] funnel20 commented on #54
@samardzicd Please respect the GitHub rules by commenting on-topic to an issue. You ask a general question that has nothing to do with this particular issue.
The docu for each function contains example code and often a reference to a sample script, for example [how to login](https://github.com/Chavithra/degiro-connector#31-how-to-login-). How much more examples do you need?
So either read the docu

[2022-02-01 11:55] samardzicd commented on #54
My bad, will respect the process.

[2022-02-01 15:31] Chavithra commented on #54
@funnel20 is right : opening another issue for theses points will help the tracking and make sure I won't forget about it

Will love to have this repo used in `backtrader` !

Let us know which examples you would like (in another issue).

[2022-02-01 22:26] Deliki opened #63 "Integrate algo modules(BackTrader, TensorTrade, FreqTrade) in this api"
How can we integrate the feed of data from this API in several common used Algo modules e.g.
- Backtrader (https://github.com/backtrader/backtrader),
- FreqTrade for Telegram interactivity ( https://github.com/freqtrade/freqtrade )
- TensorTrade (https://github.com/tensortrade-org/tensortrade).
Maybe even add YFinance (Yahoo) as additional datafeed to support more flexibility in US fundamental dat

[2022-02-02 11:37] funnel20 opened #64 "Request to improve the docu of the Trading API timeout (section 3.8) by adding an example how to handle timeout exceptions"
We build a simple script:

1. The script is started 1 hour before market opening, to analyse the pre-market prices.
2. At start of the script, the Trading API is started via [`connect()`](https://github.com/Chavithra/degiro-connector#31-how-to-login-).
3. During this 1 hour period, there is no activity on the Trading API.
4. After market opening, when the strategy detects a BUY opportunity , it se

[2022-02-06 05:42] Chavithra commented on #54
@funnel20 seems good to me.

I think this should be implemented in an actual PR for instance for `check_order`.
This way we can bot fetch it and check for :
- edge cases
- possible improvements

Might also be able to add unittest to mock :
- exceptions raising
- api calls

Thanks

[2022-02-06 06:08] Chavithra commented on #64
**30MIN TIMEOUT**
You can try by running some scripts with a timers.
I have estimated 15sec and 30min were close enough timeouts last time I have checked : for the Quotecast and Trading.

**RECONNECT**
Yes that is the purpose for which I have raised this exception.
I am using it like that : to catch it on time and reconnect without generating errors on API side.

**PRE-MARKET PRICES**
Which functi

[2022-02-06 06:15] Chavithra commented on #53
Closing this issue.

It would be great to know more about your use case.

Feel free to open a new issue if you still can’t get what you want.

[2022-02-06 06:15] #53 closed

[2022-02-06 06:19] Chavithra commented on #55
Closing this issue since it is discussed in #54.

[2022-02-06 06:19] #55 closed

[2022-02-06 09:11] funnel20 commented on #54
@Chavithra Awesome. I'd love to create a PR.
Few questions:

1. What do you think of the suggested parameter name `raise_exception`?
2. In my example I created the `ExceptionUtils` helper class. Do you think this is correct. If so, any suggestion where in your project I can add this class? Or can I add the functions to an existing class?

[2022-02-06 09:15] funnel20 commented on #64
Hi @Chavithra Thanks, for the confirmation.
Regarding Pre-market prices, we use Yahoo Finance as we did not found any frequent updates from DeGiro QuoteCast API.

I'll make a PR to update the docu to reflect:

- Background of existing 1800 timeout.
- Option to change the timeout value in the `TradingAPI()` init function
- How to handle the `TimeoutError` exception

[2022-02-06 11:43] funnel20 commented on #64
@Chavithra PR is ready

[2022-02-06 11:48] funnel20 commented on #56
@Chavithra I've tried to solve this for you, but I've no clue how. Especially since I have no idea where the file trade.proto is stored on my local machine.
Could you please have a look into it?

[2022-02-06 18:21] Chavithra commented on #56
Hey @funnel20,

**REPORT EX-ANTE**
When you pass an order in the website you probably have a link called like this :
- `Download the Costs and Charges Report`

I think this is the `report ex-ante`, to know the cost before confirming the order.

**FREE SPACE NEW**
I can't reproduce this issue :
- missing `free_space_new` in the response of `check_order` function.

Do you still have this issue ? if

[2022-02-06 18:54] Chavithra commented on #60
Hello @jaapstefels,

this `get_chart` function uses the same API then chart in Degiro website.

It has the same limitations.

I encourage you to take a look at `Chart settings` in the website.

Here are related issue that might help :
- #16
- #9

[2022-02-06 18:57] Chavithra commented on #61
Closing this issue.

Feel free to open another one if there still issue with `Google Colab`.

[2022-02-06 18:57] #61 closed

[2022-02-06 19:14] funnel20 commented on #56
Hi @Chavithra . I'm using version 2.0.15 of the-connector.
I have placed orders for a Dutch stock (ABN-AMRO) and Apple (APPL) on Nasdaq.

My code for AAPL:
[code]
This prints:

[code]

[2022-02-06 19:19] realmistic commented on #61
Thanks! It is working on my side now in Colab

[2022-02-06 19:33] Chavithra commented on #56
Just tried this same code and can't reproduce the issue.

1/ Do you have the `Free new space` when you try the same operation on the websit ?
2/ Would it be possible to try with version 2.0.16 ?

[2022-02-06 20:04] funnel20 commented on #56
1) This is what I get in check order:
<img width="344" alt="Screenshot 2022-02-06 at 21 02 29" src="https://user-images.githubusercontent.com/2139844/152699229-3cdb6b88-f278-4a0d-b34e-cffee525a0e9.png">

2) With 2.0.16 I do see the name changes of the other 2 parameters, but still no `free_space_new`:
[code]

However, please note that the [original name](https://github.com/Chavithra/degiro-connect

[2022-02-06 20:09] funnel20 commented on #64
Closed by PR #65

[2022-02-06 20:09] #64 closed

[2022-02-07 18:20] hamoudeh90 opened #66 "OHLC chart data values are not matching with the API pulled values"
Hi first of all thank you very much for your work!
I have tried to experiment a little with the library but I cannot seem to have the same values that are shown by Degiro's website on the charts. i have tried it on several stocks but can't seem to get the same values.
Here is the code I used to get the OHLC data for AAPL:

[code]

Here are the results from the API and a screenshot of the data on t

[2022-02-11 19:34] 123m321 opened #67 "What is this 500 Server Error?"
Sometimes my script throws an error, and I have no clue why. I don't think it has got something to do with an expired connection, as it did send orders in the minutes before.

[code]

[2022-02-15 10:28] funnel20 commented on #56
@Chavithra Are you sure that you don't have an old version of the connector somewhere on your machine?
What is your raw output?

[2022-02-15 10:31] funnel20 commented on #21
I totally agree.
After a few test sessions our script has earned the first real money.👍

@Chavithra So I'm delighted to contribute more to this repo to show my gratitude.

[2022-02-15 10:33] funnel20 commented on #41
@Chavithra I've finally found a way to link the order id and transaction id.
Once I've finished my prototype, I'll post my findings here.

[2022-02-16 22:57] Chavithra commented on #66
Hello @hamoudeh90,

I don't know why but this seems to be not the case when you are using `issueid`.

[code]

For some reason when the `vwdkey` is used it doesn't display the same result than the website.

Hope that helps

[2022-02-17 14:40] 123m321 opened #68 "Working on home laptop, not on VPS anymore"
After functioning for more than a month flawless on my ubuntu VPS, I suddenly cant retrieve market data when trying from the VPS.

It gives this error:

`CRITICAL:degiro_connector.quotecast.actions.action_connect:HTTPSConnectionPool(host='degiro.quotecast.vwdservices.com', port=443): Max retries exceeded with url: /CORS/request_session?version=1.0.20201211&userToken=1234567 (Caused by NewConnectio

[2022-02-17 18:57] #68 closed

[2022-02-18 14:50] #67 closed

[2022-02-18 15:00] 123m321 opened #69 "Finding product id's in a script?"
I noticed it's very cumbersome to find the product ID's for instruments. I can find the stock list, but finding Dutch FTI futures or german bund or eurostoxx futures is giving me headaches.

Wouldn't it be convenient to create a script where user input (select exchange, country, product type) will give the required product id?

[2022-02-18 19:42] 123m321 commented on #69
I made a quick and dirty script to search and find id's. I think it may help (at least, it helped me!)

[code]

[2022-02-19 09:20] coveritytest opened #70 "Updating an existing stop loss order"
Can I update an existing stop loss order via:

[code]

or do I have to delete the existing stop loss order via:

`trading_api.delete_order(order_id=order_id)`

and set a new stop loss order?

[2022-02-19 17:35] facoptere opened #71 "Missing "estimates summaries""
Hi,
with this API, I can get the financial statement and ratios of a stock, but I can't find the "estimates summaries".
It is the second half of the tab "Analyst Views', the top half being handled properly  by get_company_ratios()

Example:
https://trader.degiro.nl/dgtbxdsservice/estimates-summaries/US61174X1090

It is possible to make it available?
Thanks

[2022-02-19 20:38] Chavithra commented on #47
Closing this issue.

Feel free to open a new one if you have more questions.

[2022-02-19 20:38] #47 closed

[2022-02-19 21:41] Chavithra commented on #71
Hello @facoptere,

good idea.

Just release a new version with this feature.

Let me know if that works on your side.

Thanks

[2022-02-19 22:49] Chavithra commented on #70
Hello there,

**PRICE UPDATE**
you can update the price with `update_order`.

If you want to do more, like the `order_type` then you probably need to create another `Order`.

**STOP_PRICE**
As explained in the documentation when you use `STOP_LOSS` you need to use the `stop_price` field.

Hope that helps

[2022-02-19 22:54] Chavithra commented on #66
Closing this issue.

Feel free to open a new one if you have other questions.

[2022-02-19 22:54] #66 closed

[2022-02-21 08:21] coveritytest commented on #70
Works like a charm, thanks. Didn't look thoroughly enough for the details.

[2022-02-21 08:21] #70 closed

[2022-02-21 08:24] coveritytest commented on #21
How can we show our gratitude @Chavithra ? I'd like to buy you a coffee at least.

[2022-02-22 09:14] facoptere commented on #71
It works.
Many thanks.

[2022-02-22 11:06] #71 closed

[2022-02-23 15:00] coveritytest opened #72 "TransactionsHistory unreliable"
Is it only today or is [TransactionsHistory](https://github.com/Chavithra/degiro-connector#55-how-to-retrieve-the-transactionshistory-) extremely unreliable. In 10 cases I try, 5 cases do not return the wanted transaction :(

[2022-02-23 23:15] coveritytest commented on #72
Might have been a local problem at degiro, later it worked more reliably.

[2022-02-24 07:05] #72 closed

[2022-02-26 08:12] TommasoBendinelli opened #73 "Cannot create a sell order. Error "{"errors":[{"text":"Method not allowed"}]}""
Hello,

I am trying to create the following sell order:
[code]
When trying to validate the order with
`
checking_response = trading_api.check_order(order=order,raw=True)["data"]
`
I get a "None" response. If I click in the url popping up in the console, I get the following error:
{"errors":[{"text":"Method not allowed"}]}

[2022-02-27 07:17] Chavithra commented on #73
Hello @TommasoBendinelli,

isn’t there a missing comma in the example ?

[2022-02-27 07:22] TommasoBendinelli commented on #73
Thanks for pointing it out. I made a typo during edititing.

[2022-02-27 10:02] Chavithra commented on #73
Got it, closing the issue.

If that happens again, having the debug log would be nice.

[2022-03-01 18:52] fl42 opened #74 "[SECURITY] Enable TLS certificate validation"
Hello,

I don't understand the reasoning behind [disabling](https://github.com/Chavithra/degiro-connector/blob/main/degiro_connector/core/models/model_session.py#L27) TLS certification validation.
This allows MITM attacks.

Requests module can connect to Degiro's servers with default settings:
[code]

Furthermore, Degiro follows TLS best practices as it is [A+ rated](https://www.ssllabs.com/ssltes

[2022-03-04 10:32] Chavithra commented on #21
@coveritytest I am not planning to ask monetary contribution on this repository.

Your help on :
- keeping track of errors
- improving documentation / examples
- getting feedback on features

This stuff are valuable too !

Thanks

[2022-03-05 20:59] zerola opened #75 "Retrieve Portfolio content from the past"
Hi, maybe I am missing it but I can't find a way how to retrieve a Portfolio content from some day in the past. In DEGIRO website it is possible to export a portfolio how it looked at a specific day in the history.

In the examples, I see only:
`request_list.values.extend(
            [
                Update.Request(option = Update.Option.PORTFOLIO, last_updated = 0)
            ]
        )`

Is

[2022-03-08 14:09] Chavithra commented on #75
Hello @zerola,

that is not a feature that I am aware of : either from the API or from the website.

A solution that might work :
- Store Portfolio at some point of time
- Use TransactionsHistory or OrdersHistory to calculate the Portfolio state at any given time

Hope that answer your question.

[2022-03-08 14:19] zerola commented on #75
Hi @Chavithra,

in my (czech version) of DEGIRO, under the Portfolio section I have an Export button:

![Screenshot from 2022-03-08 15-14-18](https://user-images.githubusercontent.com/5671078/157255591-91399352-1f46-4b62-9b42-63bb4c791703.png)

When clicked, I can select a date and output format and it exports my portfolio state from that date in the history.
![Screenshot from 2022-03-08 15-15-49]

[2022-03-08 17:25] Chavithra commented on #75
Nice, will take a look !

[2022-03-09 06:37] TommasoBendinelli commented on #73
Hi, It happened again yesterday. How can I create the debug log?

[2022-03-09 08:27] Chavithra commented on #73
Hi, you can  add this line at the beginning of your code :

[code]

[2022-03-09 08:32] TommasoBendinelli commented on #73
Great thanks, I will post the output when it happens again.

[2022-03-09 09:16] Chavithra commented on #75
Hi I have added this to the version `2.0.18`.

The documentation was also updated : take a look at `PositionReport` feature.

[2022-03-09 09:48] zerola commented on #75
Excellent, looks like exactly what I needed. I will test it soon. For now, I will close the issue. Thanks for a quick implementation.

[2022-03-09 09:48] #75 closed

[2022-03-11 20:24] Rubengarber opened #76 "EstimatesSummaries error"
A fantastic job.
I'm passing all the features to Jupiter Notebook to see the result and it failed me:

# FETCH DATA
product_isin = "FR0000131906"
estimates_summaries = trading_api.get_estimates_summaries(
    product_isin=product_isin,
    raw=False,
)

DEBUG:degiro_connector.trading.api:CALLING __GETATTR__, on item : get_estimates_summaries

-------------------------------------------------------

[2022-03-11 23:04] Chavithra commented on #76
Hello there,

**Documentation**
Nice catch on the documentation : fixed it.

**Example file**
The example file I have put there is working on my side :
- examples\trading\estimates_summaries.py

So either :
- the code you tried on your Jupiter Notebook as differences with this example file
- either some

**Your full code**
Can you show the full code you are trying to run ?

[2022-03-12 20:31] Rubengarber commented on #76
Thank you for your immediate response.
You are right, I have tested the code of "estimates_summaries.py" in Spyder and in Jupyter.
In Spyder it works correctly and in Jupyter it gives error, running under the same kernel.

CODE
product_isin = 'FR0000131906'
estimates_summaries = trading_api.get_estimates_summaries(
                                                            product_isin=product_is

[2022-03-12 21:55] Chavithra commented on #76
This example also works in my `Jupyter Notebook`.

So this is possibly just local settings related.

Closing this issue for now.

Feel free to open a new one if you find more about this.

[2022-03-12 21:55] #76 closed

[2022-03-14 10:44] coveritytest commented on #73
I do have these problems, too. Maybe it's related:

`2022-03-09 18:37:57,586 CRITICAL MainThread      400
2022-03-09 18:37:57,586 CRITICAL MainThread      {"errors":[{"text":"order.error.128"}]}

2022-03-14 11:42:02,077 CRITICAL MainThread      500
2022-03-14 11:42:02,077 CRITICAL MainThread      {"errors":[{"text":"Internal server error"}]}`

[2022-03-14 10:54] TommasoBendinelli commented on #73
I also don't have more debug outputs. Apparently, it seems to happen when I am trying to sell something bought on the same day.

[2022-03-14 11:09] coveritytest commented on #73
I just found out that at least the

` {"errors":[{"text":"Internal server error"}]}`

error is gone, when I login to degiro once via browser. Should not be the case though I guess.

[2022-03-14 11:59] coveritytest opened #77 "Order only succeeds when logged in once via browser"
I do have some strange errors when ordering:

[code]

Unfortunately there is no more debug output despite I set

level=logging.DEBUG

I just found out that at least the

`{"errors":[{"text":"Internal server error"}]}`

error is gone, when I login to degiro once via browser. I guess this is a bug. The session is created correctly:

`2022-03-14 12:08:17,645 INFO    MainThread      get_session_id:res

[2022-03-15 06:45] TommasoBendinelli opened #78 "Documentation example at section 6.6 now working"
I am using version 2.0.4 of the library and I tried to send this request:
[code]

However I don't get anything back. I don't think is a Server Issue but rather something wrong within the library itself

[2022-03-18 18:03] facoptere opened #79 "Favourite list management"
Hi @Chavithra ,

Could you add some features to edit favourite lists?

- **Create a new favourite list:**

- **Discard an existing favourite list:**

- **Add / Remove a product to an existing favourite list:**

Many thanks for your great work!

[2022-03-19 01:43] Chavithra commented on #79
Hey @facoptere, good idea.

Will check that when I will have some time during the month.

[2022-03-25 07:55] coveritytest commented on #77
This can be reproduced regularly on my account, does nobody else have this problem?

[2022-03-25 13:50] TommasoBendinelli commented on #77
I also have the same issue. Any solution?

[2022-03-25 18:19] TommasoBendinelli commented on #77
Could it be that you need to "sleep" in between two calls to the api enough time?

[2022-03-26 12:43] TommasoBendinelli commented on #77
I have it also this morning

[2022-03-29 06:10] coveritytest commented on #77
I wait between buy orders for 5 seconds, but it might be necessary to wait between every API call, will try this. The `{"errors":[{"text":"order.error.128"}]}` error happens not so often and cannot be reproduced on my site.

[2022-03-29 11:43] nine1zero commented on #74
that would be great !! many thanks

[2022-03-31 00:26] nine1zero opened #80 "Error on quotecast_api.logout()"
First of all, maaaany thanks for your work!!  :)
It works likle a charm, i have just few small problems

I wrote a script for monthly buying with dollar-cost avg a global etf, with these workflow:

- **trading_api.connect()**
- trading_api.get_products_info _(to get the vwdId anche check product)_
- trading_api.get_update _(to get the portofolio and available cash)_
- trading_api.get_transactions_

[2022-04-01 23:13] Chavithra commented on #80
Hello @nine1zero,

the `Action` called `logout` is not implemented inside the following module :
- `degiro_connector.quotecast.api`

I am not even sure that the endpoint to that exists.

Quotecast endpoint has a really short timeout : after a dozen of seconds or so you will be disconnected automatically.

[2022-04-02 00:30] Chavithra commented on #79
Done.

[2022-04-02 00:30] #79 closed

[2022-04-02 00:30] #80 closed

[2022-04-02 00:31] Chavithra commented on #78
Is it possible to try with the latest version ?

[2022-04-02 10:05] facoptere commented on #79
Thanks. It works. Please note that intAccount is mandatory for all these.

[2022-04-02 13:03] nine1zero commented on #80
ok thank you! just proposed the update of the docs, where was mentioned the "quotecast_api.logout()"

[2022-04-02 13:11] Chavithra commented on #74
Hello there,

that will take some time : because of the tests required.

If someone wants to help on this : feel free to join me on Discord or to open a PR.

Thanks

[2022-04-04 17:48] facoptere commented on #74
This issue is being handled by someone? If not I can take this ticket (at least I can  try...).

[2022-04-04 18:54] nine1zero commented on #74
I dont think so, try reach out Chavithra. I would help but my coding skills are not enough :(

[2022-04-06 19:23] Chavithra commented on #74
Yes !

[2022-04-28 09:32] funnel20 commented on #77
@coveritytest I'm glad you brought this up, since I have the same experience.
It's certainly not related to a timeout issue between consecutive API calls, see my remark in this [post](https://github.com/Chavithra/degiro-connector/issues/62#issuecomment-1025093513).

**Work-around**

1. Our script with the DeGiro Connector runs dedicated on laptop 1.
2. We start it 1.5 hours before New York Market

[2022-04-30 07:53] TommasoBendinelli commented on #77
I agree that the login process for the web portal is different from DeGiro's API connect() method.
I have noticed that if you log in via the browser or your phone, no errors pop up until midnight of the next day .
So right now I am logging in into Degiro every morning as workaround, so that I am sure my daily orders will go through. But it isn't very pleasant experience, and goes against principle

[2022-04-30 07:54] TommasoBendinelli commented on #77
I can also support and try to find the bug if @Chavithra  you can point me out where do you think this is coming from

[2022-04-30 08:00] TommasoBendinelli commented on #78
with latest version it works. I will close it

[2022-04-30 08:00] #78 closed

[2022-05-09 11:22] Chavithra commented on #74
@facoptere Thanks again for this PR

I think this issue is solved now.

@facoptere Is there a way we can get in touch ? discord or something

[2022-05-10 07:42] facoptere commented on #74
Hi @Chavithra. I just sent you a message on discord.

[2022-05-12 10:13] #74 closed

[2022-05-14 10:23] Henriquem-pt commented on #77
I have the same issue as well..

[2022-05-15 12:36] pereira1408 commented on #77
Same issue here.
Following for a solution!

[2022-05-21 09:06] TommasoBendinelli commented on #77
Any news about this?

[2022-05-24 06:41] Chavithra commented on #77
Nice analysis.

Will try to reproduce it this month.

Questions :
1. Which action fail exactly (create, update, delete order) ?
2. What is the duration of these orders ?
3. Did you try to force connect() everyday ?

[2022-05-24 07:51] funnel20 commented on #77
1. When we create the first order of the day, `check_order()` throws `TimeoutError` exception. Our script handles this by a `connect()` and upon success retries the `check_order()`. This will return `None`.
2. It's a day order with some variables:
[code]
3. Yes, see answer 1.

I hope this helps for your analysis.

[2022-05-24 08:38] pereira1408 commented on #77
I agree with @funnel20.

If I do not perform a login via browser besides degiro connector once a day, sell and buy orders fail. It's difficult to say those are the only actions failing because I only need to delete an order if it exists.
And yes, I've tried to force reconnection. Indeed, I even implemented a connection step before creating a buy/sell order. Even with this "workaround", it still fa

[2022-06-03 06:50] fernandobrito opened #84 "New DDoS protection on DeGiro blocking this library?"
Hi! I've been using this library for some time and it has been working fine.

Today I started getting this error:

[code]

I've never seen it before. After looking on Google, I found that Myra is a company offering DDoS protection: https://www.myrasecurity.com/en/product-ddos-protection/website/.

My account works fine from the browser and phone (within the same network that I try to run the code)

[2022-06-03 08:03] nine1zero commented on #84
I am using the library just for trigged/scheduled monthly buy. Never had the issue but I would try the usual avoidance techniques, some random timeout if you are issuing too many consecutive call or splitting in different days/ ips/ sessions etc.

[2022-06-03 14:17] Chavithra commented on #84
Did you try with the version 2.0.21 ?

[2022-06-03 14:42] fernandobrito commented on #84
@Chavithra thanks for the quick response! I haven't, very good point. I will upgrade it, try it again and report here, thanks!

[2022-06-06 22:34] fernandobrito commented on #84
Upgrading the version solved my issue. Thanks!

[2022-06-15 10:29] BoccheseGiacomo opened #85 "unable to login"
I need a help to understand how to make the login. The only info i have is username and password. I can't understand how to insert them to login. I have already red the instructions in the README file, but i can't understand ....

Thank everyone if someone can help me.

[2022-06-16 06:39] Henriquem-pt commented on #77
Did someone manage to solve this without having to manually log in ?

[2022-06-16 21:03] nine1zero commented on #77
Never had the issue actually, using 2fa auth and running the script from a Google cloud function

[2022-06-18 16:01] kantundpeterpan opened #86 "Historical intraday data"
Hello,

I am trying to get historical intraday OHLC data via the degiro API (1 minute or 5 minute level).
This works fine for the 1W period but I keep getting strange results (I suppose intended by degiro) for anything longer than 1 month.
Upon on increasing the period I get intraday data for first couple of days and only EOD data for the rest (see the chart below which gives the number of datapoi

[2022-07-01 22:11] Chavithra commented on #85
Closing the issue.

Feel free to open a new one if you have more questions.

Thanks

[2022-07-01 22:11] #85 closed

[2022-08-15 13:17] johan-beemsterboer opened #87 "Running into issue with totp_secret_key"
Hi,

I'm struggling to get my user_token. I have inserted my user_name and password, but I get a concatenation error:

Here's the errors:
` File "D:\degiro-connector-main\examples\trading\client_details_table.py", line 34, in <module>
    trading_api.connect()
  File "C:\Python\Python310\site-packages\degiro_connector\core\abstracts\abstract_action.py", line 73, in __call__
    return self.call(*a

[2022-08-16 05:07] Chavithra commented on #87
Hello there,

is it possible to share the code you are running?

Hidding the credentials of course.

Thanks

[2022-08-16 09:24] johan-beemsterboer commented on #87
Hi, I'm running examples\trading\client_details_table.py, using this config file:

[code]

When I deactivate 2FA it does work. I tried running it as follows as well:

[code]

[2022-08-28 15:49] KassiusKlay opened #88 "Getting None on TransactionsHistory and AccountOverview after weekend update"
I have been using the package for a while with no issues.

From August 27th to August 28th Degiro did a server maintenance.
After that, I started getting "None" from the API on the Classes mentioned on the title.
Some classes work, like get_config() and products_info().

I suspected there is something that needs to be updated, some URL or something.
Please let me know if you need my code to check

[2022-08-28 18:37] KassiusKlay commented on #88
Never mind it is working now

[2022-08-30 20:18] rubenmartinez opened #89 "Automated Tools to be disallowed from October 1st?"
Changes in Spanish Contract (I suppose similar for all other countries?) to be applicable from October 1st:

No se permite al Cliente utilizar Herramientas Automatizadas en la plataforma de inversión de DEGIRO. Si DEGIRO detecta
Herramientas Automatizadas o actividades que apunten a su uso, las consultas, actividades o las cuentas involucradas podrían
ser bloqueadas por DEGIRO

will this mean `deg

[2022-08-31 15:45] funnel20 commented on #89
I've received the same update of the Terms & Conditions from DeGiro in The Netherlands.
Here is the text in [English](https://www.degiro.fi/data/pdf/fi/Asiakassopimus-Sijoituspalveluehdot_2.pdf) of sections 5.5 and 5.6:

The Client is not allowed to use the services of DEGIRO for algorithmic trading.

The Client is not allowed to use Automated Tools within the trading platform of DEGIRO. If DEGIRO

[2022-09-02 08:17] Chavithra commented on #89
Hello there, as far as I remember Degiro also forbid automated trading within their platform.

Like buying/selling too fast…

[2022-09-02 10:57] funnel20 opened #90 "Quotecast API freezes after exactly 1 hour since August 30, 2022"
### Background
We have run our script successfully on a daily basis for the past months.
It uses the Quotecast API to fetch the latest price data of a ticker every seconds, during the 6.5 market hours of a Ney York trading day.

### Issue
However, since August 30, 2022 we don't get any price updates anymore after 1 hour of the start of the Quotecast API.
We have called `connect()` on the `Quotecas

[2022-09-02 12:56] funnel20 commented on #54
@Chavithra Any comments on my proposal would be appreciated. And if you agree, please answer my question on how to integrate this in the current project.

[2022-09-03 11:10] funnel20 commented on #90
@Chavithra Can you please have a look into this, since it seems a serious stopper.

[2022-09-03 14:02] Bobavince commented on #44
Do you have details about what you found ?

[2022-09-03 15:25] Bobavince opened #91 ""Get Portfolio" does not returns the tickers names"
Hello,

Thanks for your library first. Very well done !

Trying to use the endpoint documented there :
https://github.com/Chavithra/degiro-connector#52-how-to-get-the-portfolio-

I basically get something back like :

[code]

There is not reference to the name of the ticker ? Am I missing something here ?
Isn't "name" supposed to be the name of the ticker instead of "positionrow" ?

Happy to docum

[2022-09-03 19:18] Bobavince commented on #91
Okay, after a bit more reading, it was unclear to me that I had to use https://github.com/Chavithra/degiro-connector#712-how-to-search-products-from-ids- to then resolve the product IDs. My bad !

[2022-09-03 19:21] #91 closed

[2022-09-06 15:11] funnel20 commented on #90
### Analysis
While analysing the source code of the Quotecast API, in particular [fetch_data.py](https://github.com/Chavithra/degiro-connector/blob/main/degiro_connector/quotecast/actions/action_fetch_data.py), it appears that the requests do not have a timeout specified:

https://github.com/Chavithra/degiro-connector/blob/073646150cd72f8a09341df43b411d8fb6b96da9/degiro_connector/quotecast/actions

[2022-09-25 06:17] crigault opened #93 "Access to Order Book"
Hello Sir,

Thank you for your excellent work on your degiro-connector API.
I would like to get the order book (ie depth of market) information that lists the first 10 ask and bid volumes and prices real time.
Is it currently possible with your API, like by using the data-stream, and how to do that exactly ?
If it's not currently possible, do you intend to implement it ?

Thanks for your answers
S

[2022-09-26 17:38] traveler0027 opened #94 "Closing price end of day"
Hi Chavithra,

First of all, amazing work! Thank you very much for providing such amazing api and documentation.

I had a question on a feature (not issue). I was wondering whether the api can also retrieve the closing prices of products (which are usually available after the market closes)? I couldn't very easily find it in the source code, but maybe I overlooked something?

Thanks a lot.

[2022-10-01 19:53] Deliki commented on #89
Did anyone encounter any account blocking even after using your Py code with Degiro Api?

[2022-10-03 10:38] rubenmartinez commented on #89
Good question.

Just a note: I checked it and as Chavithra commented, the section 5.5 was in the contract for a longer time, while the 5.6 would be newer.

Anyway, for me it is still a concern. What does it mean "accounts involved could be blocked?", would it be impossible to access the account whatsoever or can we assume they would lock the account and refund the money? or they could be legally e

[2022-10-05 14:16] marcopus opened #96 "Protobuffer generated code out of date"
I recently updated the degiro-connector dependency (2.0.21 --> 2.0.22) in my project and I am getting this error when importing the TradingAPI, perhaps some file need to be re-generated?
[code]

[2022-10-05 14:22] marcopus opened #97 "Portfolio values not up to date"
I noticed that portfolio values fetched by the API (like [here](https://github.com/Chavithra/degiro-connector#52-how-to-get-the-portfolio-)) do not correspond to the values I see on the web platform. It looks more like the values of the portfolio a day before. Note, I only have ETFs in my DEGIRO portfolio. Is this a known issue and is there anything that can be done to have realtime portfolio data

[2022-10-05 15:17] fmcruz commented on #77
Hey, I have the same issue. Any solution/fix?

[2022-10-19 13:24] fernandobrito opened #98 "Account blocked due to too many login attempts"
Hi!

Has anyone ever had their account blocked due to "too many login attempts"? Did you do any changes in your workflow or code to prevent it from happening?

Sometimes during development, I end up running my scripts several times in a row (debugging mode, making small changes and running it again, etc). Every time I run the script, I'm effectively logging in with:

[code]

From time to time, I t

[2022-10-24 18:51] marcopus commented on #96
@Chavithra I pushed the protobuffer code generated for 2.0.22 to a [branch](https://github.com/marcopus/degiro-connector/tree/2.0.22-regenerate-protobuffer-code) in my fork. I could not open a PR against master though, since master is behind 2.0.22 and I am not sure why

[2022-10-25 20:41] MarGeo96 opened #99 "Real-time data fetch issue"
Hi,

I see that the real-time data is actually 15 minutes delayed. In the case that a Degiro user has paid for the real-time Nasdaq data for example, is there a way to utilise this and fetch the actual real-time data?

Regards,

[2022-10-27 19:12] #99 closed

[2022-10-30 09:42] ash21213 opened #100 "Order placement error"
def PLACEORDER(vid):
  # SETUP ORDER
  order = Order(
      action=Order.Action.BUY,
      order_type=Order.OrderType.LIMIT,
      price=10,
      product_id=vid,
      size=1,
      time_type=Order.TimeType.GOOD_TILL_DAY,
  )

def BUY_ORD():
    SSSYM = result[result['name'] == FSCR.get()]   #Getting the DFrame of selected symbol from combobox
    selsym=SSSYM['id']
    sym=str(selsym[0])
    vid

[2022-10-30 09:49] ash21213 opened #101 "Order placement error"
Got the below errors while trying to place from order.py

DEBUG:degiro_connector.trading.api:setup_one_action : check_order
DEBUG:degiro_connector.trading.api:setup_one_action : confirm_order
DEBUG:degiro_connector.trading.api:setup_one_action : connect
DEBUG:degiro_connector.trading.api:setup_one_action : create_favourite_list
DEBUG:degiro_connector.trading.api:setup_one_action : delete_favourite

[2022-11-11 17:50] traveler0027 opened #102 "connection errors"
Hi Chavithra,

Since yesterday I am having some strange connection issues:
-     raise TimeoutError("Connection has probably expired.")
TimeoutError: Connection has probably expired.
-    raise ConnectionError("Connection required.")
ConnectionError: Connection required.
-  HTTPSConnectionPool(host='degiro.qu....   Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

Before I

[2022-11-14 13:52] #102 closed

[2022-11-14 13:52] traveler0027 commented on #102
-